@charset "utf-8";




$site-prefix: 'dss_';
$use-legacy-site-navigation: false;




/**
 * BASE STYLING
 */
@import "../../../../node_modules/@scottish-government/design-system/src/base/all-base";
@import "../base/code";
@import "base/figure";
@import "base/pl-layouts";




/**
 * HELPERS
 */
@import "helpers/helper.overflows"; //<-- this is a candidate for inclusion in pattern lib




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../components/video-wrapper";




/**
 * COMPONENTS FROM DESIGN SYSTEM
 */
@import "../../../../node_modules/@scottish-government/design-system/src/components/all-components";
@import "../../../../node_modules/@scottish-government/design-system/src/forms/all-forms";




/**
 * CONTENT BLOCKS FROM DESIGN SYSTEM CONTENT BLOCKS
 */
@import "../../../../node_modules/@scottish-government-design-system/content-blocks/src/content-blocks/all-content-blocks";




/**
 * ADDITIONAL STYLES
 */
@import "components/component.colour-palette";
@import "components/component.example";
@import "components/component.font-table";
@import "components/component.history-list";
@import "components/component.toggle-link";
@import "components/component.whats-new";

@import "../mygov/components/feedback";

@import "../highlight";

@import "overrides/override.file-download";
@import "overrides/override.page-header";




/**
 * CMS STYLES
 */
@import "../cms.experience-manager";
