@charset "utf-8";




$iconsfile: "../../../images/icons/icons.stack.svg";
$site-prefix: 'dss_';
$use-legacy-site-navigation: false;




/**
 * BASE STYLING
 */
@import "../../../../node_modules/@scottish-government/design-system/src/base/all-base";
@import "../base/code";
@import "base/figure";
@import "base/pl-layouts";




/**
 * HELPERS
 */
@import "helpers/helper.overflows"; //<-- this is a candidate for inclusion in pattern lib




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../components/video-wrapper";




/**
 * COMPONENTS FROM DESIGN SYSTEM
 */
@import "../../../../node_modules/@scottish-government/design-system/src/components/all-components";
@import "../../../../node_modules/@scottish-government/design-system/src/forms/all-forms";




/**
 * PAGE BLOCKS FROM DESIGN SYSTEM PAGE BLOCKS
 */
@import "../../../../node_modules/@scottish-government-design-system/page-blocks/src/page-blocks/all-page-blocks";




/**
 * ADDITIONAL STYLES
 */
@import "components/component.colour-palette";
@import "components/component.example";
@import "components/component.font-table";
@import "components/component.history-list";
@import "components/component.toggle-link";
@import "components/component.whats-new";

@import "../components/link-major";

@import "../mygov/components/feedback";

@import "../highlight";

@import "overrides/override.file-download";
@import "overrides/override.page-header";




/**
 * CMS STYLES
 */
@import "../cms.experience-manager";
