/**
 * PATTERN LIBRARY VALUES
 */
$ds_colour__brand: #A51765;
$ds_colour__brand--secondary: #F0A75A;
$brand-gradient-direction: left;
$category-header__border-colour: $ds_colour__brand--secondary;
$category-header__title-colour: $ds_colour__brand;
$category-item__link-colour: $ds_colour__brand;
$site-logo__height--medium: 35px;

$iconsfile: "../../images/icons/icons.stack.svg";




/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/design-system/src/base/all-base";
@import "../../../../node_modules/@scottish-government/design-system/src/forms/all-forms";




/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/design-system/src/components/all-components";




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../components/form-box";
@import "../components/video-wrapper";
@import "../overrides/override.feature-header";




/**
 * COMPONENTS FROM TRADING NATION
 */
// none
.ds_feature-header__title {
    color: $ds_colour__brand;
}



/*
 * CMS STYLES
 */
 @import "../cms.experience-manager";
