/**
 * PATTERN LIBRARY VALUES
 */
$ds_colour__brand: #A51765;
$ds_colour__brand--secondary: #F0A75A;
$brand-gradient-direction: left;
$category-header__border-colour: $ds_colour__brand--secondary;
$category-header__title-colour: $ds_colour__brand;
$category-item__link-colour: $ds_colour__brand;
$site-logo__height--medium: 35px;

$iconsfile: "../../images/icons/icons.stack.svg";




/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/base/all-base";
@import "../../../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";




/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/components/all-components";




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../../scss/form-box";




/**
 * COMPONENTS FROM TRADING NATION
 */
// none




/*
 * CMS STYLES
 */
 @import "../cms-editable.scss";
