/*------------------------------------*\
    #COLOUR PALETTE
\*------------------------------------*/

.dss_palette {
    table-layout: initial;

    &,
    & tr {
        border: 0;
    }

    & td {
        padding-bottom: 1.25rem;
        padding-top: 0.25rem;
    }

    &__colour {
        position: relative;
        width: 2.5rem;

        &::before {
            border: 0.0625rem solid $ds_colour__grey;
            border-radius: 2.5rem;
            content: '';
            height: 2.5rem;
            left: 0;
            mix-blend-mode: darken;
            pointer-events: none;
            position: absolute;
            top: 0;
            width: 2.5rem;
            z-index: 1;
        }
    }

    &__name {
        padding-left: 1.25rem;
    }

    &__variable {
        width: 40%;
    }

    &__hex {
        text-align: right;
        width: 10%;
    }

    &__swatch {
        position: absolute;
        height: 2.5rem;
        left: 0;
        top: 0;
        width: 2.5rem;
    }

    code {
        color: $ds_colour__text;
    }
}
