@use '../../../../../node_modules/@scottish-government/design-system/src/base/helpers/' as ds_helpers;
@use '../../../../../node_modules/@scottish-government/design-system/src/base/settings/' as ds_settings;

.dss_whats-new {
    &__item {
        @include ds_helpers.ds_responsive-margin(2, bottom);

        > p {
            display: inline;
        }
    }

    &__date {
        color: ds_settings.$ds_colour__text--secondary;
        margin-left: 2px;
        padding-left: 8px;
        position: relative;
        white-space: nowrap;

        &::before {
            background-color: currentColor;
            bottom: 2px;
            content: '';
            left: 0;
            position: absolute;
            top: 4px;
            width: 1px;
        }
    }
}
