/*------------------------------------*\
    #COLOUR PALETTE
\*------------------------------------*/

.dss_palette {
    table-layout: initial;

    &,
    & tr {
        border: 0;
    }

    & td {
        padding-bottom: 1.5rem;
    }

    &__colour {
        position: relative;
        width: 2.5rem;
    }

    &__name {
        padding-left: 1.25rem;
    }

    &__variable {
        width: 40%;
    }

    &__hex {
        text-align: right;
        width: 10%;
    }

    &__swatch {
        position: absolute;
        height: 2.5rem;
        left: 0;
        margin-top: -1.25rem;
        width: 2.5rem;
    }

    code {
        color: $ds_colour__text;
    }
}
