/**
 * PATTERN LIBRARY VALUES
 */
$ds_colour__brand: #002d54;
$ds_colour__brand--secondary: #00a5b5;
$brand-gradient-direction: left;

$iconsfile: "../../images/icons/icons.stack.svg";



/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/base/all-base";
@import "../../../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";




/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/components/all-components";




/**
 * COMPONENTS FROM PUBLISHING
 */
 @import "../components/form-box";



/*
 * CMS STYLES
 */
@import "../cms-editable.scss";
@import "../../scss/form-box";
