target
.DS_Store
.project
.classpath
.settings
.idea
*.iml
repository-data/webfiles/node_modules
repository-data/webfiles/src/main/resources/site/assets/
repository-data/webfiles/test/coverage
essentials/overlays