.dialog-content{
    margin: 50px 20px;
}

.export-info-subtext{
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 16px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #faebcc;
    border-left: 0;
    line-height: 16px;
    background-color: #fcf8e3;
    color: #331d00;
    text-align: center;
}

.button-section{
    display: flex;
    justify-content: flex-end;
}