/**
 * PATTERN LIBRARY VALUES
 */
$color__brand--primary: #A51765;
$color__brand--secondary: #F0A75A;
$brand-gradient-direction: left;
$category-header__border-color: $color__brand--secondary;
$category-header__title-color: $color__brand--primary;
$site-logo__height--medium: 35px;




/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/base/all-base";




/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/components/all-components";




/**
 * COMPONENTS FROM TRADING NATION
 */
@import "./page.scss";
@import "./tn-layouts.scss";
@import "./tn-media.scss";

@import "./temp-cookie-form.scss";




/*
 * CMS STYLES
 */
 @import "../../shared-assets/scss/cms-editable.scss";
