/**
 * PATTERN LIBRARY VALUES
 */
$iconsfile: "../../images/icons/icons.stack.svg";
$site-prefix: "ddat_";


/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/design-system/src/base/all-base";
@import "../../../../node_modules/@scottish-government/design-system/src/forms/all-forms";





/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/design-system/src/components/all-components";




.js-enabled .fully-hidden-if-js {
    display: none;
}



/**
 * PAGE BLOCKS
 */
//@import "../content-blocks-OLD/all-content-blocks";

/**
 * CONTENT BLOCKS FROM DESIGN SYSTEM CONTENT BLOCKS
 */
@import "../../../../node_modules/@scottish-government-design-system/page-blocks/src/page-blocks/all-page-blocks";
@import "../overrides/override.content-blocks";




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../components/form-box";
@import "../components/image";
@import "../components/link-major";
@import "../components/preview-notification";
@import "../components/service-finder";
@import "../components/video-wrapper";




/**
 * ADDITIONAL STYLES
 */
@import "component.datalist";
@import "component.listing";


/**
 * CMS STYLES
 */
 @import "../cms.experience-manager";
