definitions:
  config:
    /hst:hst/hst:configurations/trading-nation:
        jcr:primaryType: hst:configuration
        hst:inheritsfrom: [../common]
        /hst:abstractpages:
          jcr:primaryType: hst:pages
        /hst:catalog:
          jcr:primaryType: hst:catalog
          /trading-nation-catalog:
            jcr:primaryType: hst:containeritempackage
        /hst:components:
          jcr:primaryType: hst:components
        /hst:pages:
          jcr:primaryType: hst:pages
        /hst:prototypepages:
          jcr:primaryType: hst:pages
        /hst:sitemap:
          jcr:primaryType: hst:sitemap
        /hst:sitemenus:
          jcr:primaryType: hst:sitemenus
        /hst:templates:
          jcr:primaryType: hst:templates
        /hst:workspace:
          jcr:primaryType: hst:workspace
          /hst:channel:
            .meta:residual-child-node-category: content
            jcr:primaryType: hst:channel
            hst:name: Trading Nation
            hst:type: website
            hst:channelinfoclass: scot.mygov.publishing.channels.WebsiteInfo
          /hst:containers:
            jcr:primaryType: hst:containercomponentfolder
          /hst:pages:
            .meta:residual-child-node-category: content
            jcr:primaryType: hst:pages
          /hst:sitemap:
            .meta:residual-child-node-category: content
            jcr:primaryType: hst:sitemap
          /hst:sitemenus:
            jcr:primaryType: hst:sitemenus
