/**
 * Dark blue theme
 */
$ds_colour__brand: #002d54; //$ds_colour__blue--darker;

// Page block secondary theme background
$pb_theme__background-secondary: #e5eaee;

/**
 * Use mygov styles
 */
 @import "../../mygov/main";