/**
 * PATTERN LIBRARY VALUES
 */
 $colour__brand: #002d54;
 $colour__brand--secondary: #00a5b5;
 $brand-gradient-direction: left;




/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
 @import "../../../../node_modules/@scottish-government/pattern-library/src/base/all-base";




 /**
  * COMPONENTS FROM PATTERN LIBRARY
  */
 @import "../../../../node_modules/@scottish-government/pattern-library/src/components/all-components";




 /**
  * COMPONENTS FROM TRADING NATION
  */




 /*
  * CMS STYLES
  */
  @import "../../shared-assets/scss/cms-editable.scss";
