/**
 * PATTERN LIBRARY VALUES
 */
$iconsfile: "../../images/icons/icons.stack.svg";
$site-prefix: "mg_";




/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/design-system/src/base/all-base";
@import "../base/code";
@import "../base/helpers/no-margin";
@import "base/mg-layouts";
@import "../base/core/img/img";




/**
 * COMMON ITEMS FROM PUBLISHING
 */
@import "../common/layouts";




/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/design-system/src/components/all-components";
@import "../../../../node_modules/@scottish-government/design-system/src/forms/all-forms";




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../components/filters";
@import "../components/form-box";
@import "../components/image";
@import "../components/link-major";
@import "../components/preview-notification";
@import "../components/service-finder";
@import "../components/video-wrapper";




/**
 * COMPONENTS FROM MYGOV
 */
@import "components/az-nav";
@import "components/document-info";
@import "components/editable-table";
@import "components/feedback";
@import "components/file-icon";
@import "components/form-pieces";
@import "components/homepage-hero";
@import "components/homepage-org-az";
@import "components/old-ds-tabs";
@import "components/org-person";
@import "components/org-sectors";
@import "components/org-services";
@import "components/partner-logo";
@import "components/popular-panel";
@import "components/repeating-container";
@import "components/section-nav";
@import "components/smart-answer";
@import "components/subsection-nav";
@import "components/summary-table";
@import "legacy/business-rates-results";

@import "mg_address-reveal";


.js-enabled .fully-hidden-if-js {
    display: none;
}

.ds_page__middle {
    padding-bottom: 64px;
}

// override to force the step nav title to use display: block now it's not a block-level element
.ds_step-navigation-top .ds_h3 {
    display: block;
}

/**
 * PAGE BLOCKS FROM DESIGN SYSTEM PAGE BLOCKS
 */
 @import "../../../../node_modules/@scottish-government-design-system/page-blocks/src/page-blocks/all-page-blocks";




 /**
  * ADDITIONAL STYLES
  */
@import "../campaign/component.datalist";
@import "../campaign/component.listing";
@import "../highlight";

/**
 * OVERRIDES
 */
@import "../overrides/override.feature-header";
@import "../overrides/override.link-list";


/*
 * CMS STYLES
 */
 @import "../cms.experience-manager";
