/**
 * PATTERN LIBRARY VALUES
 */
$iconsfile: "../../images/icons/icons.stack.svg";
$site-prefix: "mg_";




/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/design-system/src/base/all-base";
@import "../base/code";
@import "../base/helpers/no-margin";
@import "base/mg-layouts";




/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/design-system/src/components/all-components";
@import "../../../../node_modules/@scottish-government/design-system/src/forms/all-forms";




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../components/form-box";
@import "../components/preview-notification";




/**
 * COMPONENTS FROM MYGOV
 */
@import "components/az-nav";
@import "components/document-info";
@import "components/editable-table";
@import "components/feedback";
@import "components/file-icon";
@import "components/form-pieces";
@import "components/homepage-hero";
@import "components/old-ds-tabs";
@import "components/org-person";
@import "components/org-sectors";
@import "components/org-services";
@import "components/partner-logo";
@import "components/popular-panel";
@import "components/repeating-container";
@import "components/section-nav";
@import "components/smart-answer";
@import "components/subsection-nav";
@import "components/summary-table";
@import "legacy/business-rates-results";

@import "mg_address-reveal";

@import "../overrides/override.feature-header";




.js-enabled .fully-hidden-if-js {
    display: none;
}

.ds_page__middle {
    padding-bottom: 64px;
}




/**
 * CONTENT BLOCKS
 */
 @import "../content-blocks/all-content-blocks";




 /**
  * ADDITIONAL STYLES
  */
@import "../campaign/component.datalist";
@import "../campaign/component.listing";
@import "../highlight";




/*
 * CMS STYLES
 */
 @import "../cms.experience-manager";
