/**
 * PATTERN LIBRARY VALUES
 */
$iconsfile: "/webfiles/latest/assets/images/icons/icons.stack.svg";
$mg-prefix: "mg_";


/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/base/all-base";
@import "../../../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";
@import "base.mg-layouts";





/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/components/all-components";




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../../scss/form-box";



/**
 * COMPONENTS FROM MYGOV
 */
@import "component.article-aside";
@import "component.az-nav";
@import "component.document-info";
@import "component.editable-table";
@import "component.feedback";
@import "component.file-icon";
@import "component.form-pieces";
@import "component.homepage-hero";
@import "component.org-person";
@import "component.org-sectors";
@import "component.org-services";
@import "component.popular-panel";
@import "component.repeating-container";
@import "component.section-nav";
@import "component.subsection-nav";
@import "component.summary-table";
@import "legacy/business-rates-results";



/*
 * CMS STYLES
 */
@import "../cms-editable";
