/**
 * PATTERN LIBRARY VALUES
 */
$iconsfile: "/webfiles/latest/assets/images/icons/icons.stack.svg";
$mg-prefix: "mg_";


/**
 * BASE STYLES FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/base/all-base";
@import "../../../../node_modules/@scottish-government/pattern-library/src/forms/all-forms";




/**
 * COMPONENTS FROM PATTERN LIBRARY
 */
@import "../../../../node_modules/@scottish-government/pattern-library/src/components/all-components";




/**
 * COMPONENTS FROM PUBLISHING
 */
@import "../../scss/form-box";



/**
 * COMPONENTS FROM MYGOV
 */
@import "homepage-hero";



/*
 * CMS STYLES
 */
@import "../cms-editable";
