/**
 * Social security theme
 */
 $ds_colour__brand: #201751;

 // Page block secondary theme background
 $pb_theme__background-secondary: #e9e8ee;

 // Change logo size in site header
$site-logo__height: 56px;
$site-logo__height--medium: 88px;

/**
 * Use mygov styles
 */
 $iconsfile: "../../../images/icons/icons.stack.svg";
 @import "../../mygov/main";