<div id="services-delete">
    <h1 class="ds_!_margin-top--4">Confirm you want to delete {{item.name}}</h1>

    <div class="ds_summary-card">
        <div class="ds_summary-card__header">
            <h3 class="ds_summary-card__header-title">{{item.title}}</h3>
        </div>
        <div class="ds_summary-card__content">
            <q class="ds_summary-list__answer">{{item.content | paragraphify | safe}}</q>
        </div>
    </div>

    <div class="ds_button-group">
        <button type="button" class="ds_button  ds_button--cancel  js-cancel-item">Cancel</button>
        <button data-index="{{index}}" type="button" class="ds_button  js-confirm-remove-item">Yes, delete</button>
    </div>
</div>
