{% from "../../macros.njk" import postcodeLookup %}

<div id="tenants-form">
    <h1 class="ds_!_margin-top--4">Tenant {{number}}</h1>

    <div class="ds_question">
        <label class="ds_label" for="tenant-name">Full name</label>
        <input value="{{data.name}}" data-validation="requiredField" aria-required="true" type="text" id="tenant-name" class="js-dynamic-title-input  ds_input">
    </div>

    {% if hide_email %}
    {% else %}
    <div class="ds_question">
        <label class="ds_label" for="tenant-email">Email</label>
        <input value="{{data.email}}" data-validation="requiredField validEmail" aria-required="true" type="email" id="tenant-email" class="ds_input">
    </div>
    {% endif %}

    {% if hide_phone %}
    {% else %}
    <div class="ds_question">
        <label class="ds_label" for="tenant-phone">Phone number</label>
        <input value="{{data.telephone}}" data-validation="requiredField validPhone" aria-required="true" type="tel" id="tenant-phone" class="ds_input  ds_input--fixed-20">
    </div>
    {% endif %}

    {% if hide_address %}
    {% else %}
        {{ postcodeLookup('tenant', address=data.address, required=true) }}
    {% endif %}

    <div>
        <h2>Guarantor details (if they have one)</h2>

        <div class="ds_question">
            <label class="ds_label" for="guarantor-name">Guarantor full name</label>
            <input value="{{data.guarantor.name}}" type="text" id="guarantor-name" class="ds_input">
        </div>

        {{ postcodeLookup('guarantor', address=data.guarantor.address) }}
    </div>

    <div class="ds_button-group">
        <button type="button" class="ds_button  ds_button--cancel  js-cancel-item">Cancel</button>
        <button type="button" class="ds_button  js-save-item">Confirm</button>
    </div>
</div>
