<div id="whats-included-summary">
    <div class="js-message-container" aria-live="polite"></div>

    <p>The inside of the property is automatically included in the tenancy agreement.</p>

    <p>You can add other areas or facilities to the tenancy agreement, like:</p>
    <ul>
        <li>a private garden</li>
        <li>common areas</li>
        <li>facilities such as a telephone</li>
    </ul>

    <p>Add the area or facility and select whether it&rsquo;s:</p>
    <ul>
        <li>included &mdash; the tenant can use it and only them</li>
        <li>excluded &mdash; it's part of the property but the tenant cannot use it</li>
        <li>shared &mdash; the tenant can use it, but it's shared with others</li>
    </ul>

    <p class="js-status">
        {% if data.length > 1 %}
        You have added <span style="font-weight: bold">{{data.length}}</span> areas or facilities.
        {% elif data.length === 1 %}
        You have added <span style="font-weight: bold">1</span> area or facility.
        {% else %}
        You have not added any areas or facilities.
        {% endif %}
    </p>

    {% if data.length %}
        {% for item in data %}
            <div class="ds_summary-card">
                <div class="ds_summary-card__header">
                    <h2 class="ds_summary-card__header-title" id="card-{{loop.index}}-title">{{item.name}}</h2>
                    <ul class="ds_summary-card__actions-list">
                        <li class="ds_summary-card__actions-list-item">
                            <button data-index="{{loop.index0}}" type="button" class="ds_link  js-change-item" aria-describedby="card-{{loop.index}}-title">
                                Change <span class="visually-hidden">{{item.name}}</span>
                            </button>
                        </li>
                        <li class="ds_summary-card__actions-list-item">
                            <button data-index="{{loop.index0}}" type="button" class="ds_link  js-remove-item" aria-describedby="card-{{loop.index}}-title">
                                Delete <span class="visually-hidden">{{item.name}}</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="ds_summary-card__content">
                    <ol class="ds_summary-list">
                        <li class="ds_summary-list__item">
                            <span class="ds_summary-list__key">Type</span>
                            <span class="ds_summary-list__value">
                                <q class="ds_summary-list__answer">{{item.type}}</q>
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <button class="ds_button  ds_button--secondary  ds_no-margin--top  js-add-another">{{addButtonText}}</button>
</div>
