/**
 * Neutral theme
 */
@use '../../../../../node_modules/@scottish-government/design-system/src/base/settings/' as ds_settings with (
  $ds_colour__brand: #333e48
);

// Page block secondary theme background
@use '../../../../../node_modules/@scottish-government-design-system/page-blocks/src/blocks/settings' with (
    $pb_theme__background-secondary: #ebeced
);

/**
 * Use mygov styles
 */
$iconsfile: "../../../images/icons/icons.stack.svg";
@import "../../mygov/main";
