/**
 * Neutral theme
 */
 $ds_colour__brand: #333e48;

 // Page block secondary theme background
 $pb_theme__background-secondary: #ebeced;

/**
 * Use mygov styles
 */
 $iconsfile: "../../../images/icons/icons.stack.svg";
 @import "../../mygov/main";