<div class="ds_confirmation-message  ds_!_margin-top--0">
    <svg class="ds_confirmation-message__icon  ds_icon  ds_icon--24" aria-hidden="true" role="img">
        <use href="{{iconsFile}}#check_circle"></use>
    </svg>
    <h3 class="ds_confirmation-message__title">
        {{title}}
    </h3>
    <div class="ds_confirmation-message__body">
        <p>{{body | safe}}</p>
    </div>
</div>
