{% from "./macros.njk" import postcodeLookup %}

<section data-group="landlords" data-step="landlord-{{index}}" id="landlord-{{index}}" class="fully-hidden  form-step">
    <h2>Landlord: <span class="js-dynamic-title"></span></h2>
    <button class="js-remove-repeating-section  repeating-container__remove  ds_button  ds_button--cancel">Remove this landlord</button>

    {% if injectedContent %}<p>{{injectedContent}}</p>{% endif %}

    <div class="form-group">
        <div class="ds_question">
            <label class="ds_label" for="landlord-{{index}}-name">Full name {% if requiredName %}(required){% endif %}</label>
            <input {% if requiredName %}data-validation="requiredField" aria-required="true"{% endif %} type="text" id="landlord-{{index}}-name" class="js-dynamic-title-input  ds_input">
        </div>

        {% if hide_registrationNumber %}
        {% else %}
        <div class="ds_question">
            <label class="ds_label" for="landlord-{{index}}-registration">Landlord registration number</label>
            <div class="ds_hint-text">
                <p><a href="https://www.mygov.scot/renting-your-property-out/registration/" target="_blank">Find out more if you don't have a landlord registration number.</a></p>
                <p>If you have applied for Landlord Registration and are waiting to receive your registration number leave this field blank.</p>
                <p>Landlord registration numbers use the format 123456/123/12345.</p>
            </div>
            <input data-validation="regexMatch" data-errormessage="Landlord registration number is not in a recognised format (e.g. 123456/123/12345)" pattern="^\d{5,7}[-\/ ]\d{3}[-\/ ]\d{5}$" type="text" id="landlord-{{index}}-registration" class="ds_input">
        </div>
        {% endif %}

        {% if hide_email %}
        {% else %}
        <div class="ds_question">
        <label class="ds_label" for="landlord-{{index}}-email">Email</label>
        <input data-validation="validEmail" type="text" id="landlord-{{index}}-email" class="ds_input">
        </div>
        {% endif %}


        {% if hide_phone %}
        {% else %}
        <div class="ds_question">
        <label class="ds_label" for="landlord-{{index}}-phone">Phone number</label>
        <input data-validation="validPhone" type="text" id="landlord-{{index}}-phone" class="ds_input  ds_input--fixed-20">
        </div>
        {% endif %}
    </div>

    {{ postcodeLookup('landlord-' + index) }}
</section>
