{% set iconsFile = '/webfiles/latest/assets/images/icons/icons.stack.svg' %}

<div class="button-group">
    {% if prevStep %}
        <a title="{{prevStep.title}}" id="button-back" href="#!/{{prevStep.section}}/{{prevStep.slug}}/" class="ds_button  ds_button--cancel  ds_button--has-icon  ds_button--has-icon--left  js-validate-step">
            <svg class="ds_icon" aria-hidden="true" role="img"><use xlink:href="{{ iconsFile }}#chevron-left"></use></svg>
            Back
        </a>
    {% endif %}

    {% if nextStep %}
        <a title="{{nextStep.title}}" id="button-next" href="#!/{{nextStep.section}}/{{nextStep.slug}}/" class="ds_button  ds_button--has-icon  js-validate-step" {% if startPage %}data-gtm="btn-start"{% endif %}>
            {% if startPage %}Start{% else %}Next{% endif %}

            <svg class="ds_icon" aria-hidden="true" role="img"><use xlink:href="{{ iconsFile }}#chevron-right"></use></svg>
        </a>
    {% endif %}
</div>
