{% set iconsFile = '/webfiles/latest/assets/images/icons/icons.stack.svg' %}

{% if hideSectionNav %}
{% else %}
<nav aria-label="sections in this form" class="section-nav">
    {% for group in groups %}
        {% if group.hideFromSectionNav %}
        {% else %}
            {% if group.current %}
                <div class="section-nav__group  group">
                    <ol class="section-nav__list">
                        {% for section in group.sections %}
                            {% if section.hideFromSectionNav %}
                            {% else %}
                                <li class="section-nav__list-item  {% if section.current %}section-nav__list-item--active{% endif %}">
                                    {% for page in section.pages %}
                                        {% if page.hidden %}
                                        {% else %}
                                            <a href="#!/{{section.slug}}/{{page.slug}}/" class="section-nav__item {% if section.current %}section-nav__item--current{% endif %}  js-validate-step">{{section.title}}</a>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            {% else %}
                <div class="section-nav__group  section-nav__link group" style="padding: 0;">
                    <a class="ds_no-margin  ds_button  ds_button--small  ds_button--secondary  ds_button--has-icon  {% if group.iconLeft %}ds_button--has-icon--left{% endif %}" href="#!/{{group.sections[0].slug}}/{{group.sections[0].pages[0].slug}}/">
                        {% if group.iconLeft %}
                            <svg class="ds_icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ iconsFile }}.svg#chevron-left">
                            </use></svg>
                        {% endif %}
                        {{group.title}}
                        {% if group.iconLeft %}
                        {% else %}
                            <svg class="ds_icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ iconsFile }}.svg#chevron-right">
                            </use></svg>
                        {% endif %}
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</nav>
{% endif %}
