{% if answers.length %}

<h2>Your answers</h2>

<p><button class="ds_link  js-clear-answers" data-button="button-clear-answers">Clear answers and start again</button></p>

<ol class="mg_summary-list">
    {% for answer in answers %}
        {% if answer.type !== 'confirm' and answer.type !== 'confirmcheckbox' %}
            <li class="mg_summary-list__item">
                <span class="mg_summary-list__key">{{answer.title | safe}}</span>
                <span class="mg_summary-list__value"><span class="visually-hidden">Your answer is:</span> <q class="mg_summary-list__answer">{{answer.text}}</q></span>
                <div class="mg_summary-list__actions">
                    <button class="ds_link  js-change-answer" data-questionid="{{answer.id}}" data-path="{{answer.path}}" data-button="button-change-{{answer.id}}">
                        Change <span class="visually-hidden">your answer for: <q>{{answer.title | safe}}</q></span>
                    </button>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ol>

{% endif %}
