{% if answers.length %}

<h2>Your answers</h2>

<p><button class="ds_link  js-clear-answers" data-button="button-clear-answers">Clear answers and start again</button></p>

<ol class="ds_summary-list">
    {% for answer in answers %}
        {% if answer.type !== 'confirm' and answer.type !== 'confirmcheckbox' %}
            <li class="ds_summary-list__item">
                <span class="ds_summary-list__key" id="key-{{loop.index}}">{{answer.title | safe}}</span>
                <span class="ds_summary-list__value">
                    {% if answer.responses.length > 1 %}
                    <ul class="ds_no-bullets">
                        {% for response in answer.responses %}
                            <li><q class="ds_summary-list__answer">{{response.text}}</q></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <q class="ds_summary-list__answer">{{answer.responses[0].text}}</q>
                    {% endif %}
                </span>
                <div class="ds_summary-list__actions">
                    <button class="ds_link  js-change-answer" data-questionid="{{answer.id}}" data-path="{{answer.path}}" aria-describedby="key-{{loop.index}}">
                        Change
                    </button>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ol>

{% endif %}
