<div class="modal">

    <div class="modal__overlay"></div>

    <div id="dialog" class="modal__dialog">
        <div id="staysafemodal_close" class="modal__close"></div>
        <h2 class="modal__title">Stay safe online</h2>

        <div class="modal__body">
            <p>Learn how to browse privately and delete your history</p>
            <a id="takemethere" href="/staying-safe-online/deleting-your-browser-history/" class="button modal-button" data-gtm='staysafe-yes'>
                <span class="link-text">Take me there</span></a>

            <a id="nothanks" class="button modal-button" data-gtm="staysafe-no">
                <span class="link-text">No thanks</span></a>
            <p class="modal__baseparagraph">To read this later, search for 'staying safe online'.</p>
        </div>
    </div>

</div>
