{% from "./macros.njk" import postcodeLookup %}

<section data-group="{{slug}}s" data-step="{{slug}}-{{index}}" id="{{slug}}-{{index}}" class="form-step  fully-hidden">
    <h2>{{stepTitle}} details: <span class="js-dynamic-title"></span></h2>
    <button class="js-remove-repeating-section  repeating-container__remove  ds_button  ds_button--secondary">Remove this {{slug}}</button>

    <div class="ds_question">
        <label class="ds_label" for="{{slug}}-{{index}}-name">Full name{% if requiredName %} (required){% endif %}</label>
        <input {% if requiredName %}data-validation="requiredField" aria-required="true"{% endif %} type="text" id="{{slug}}-{{index}}-name" class="js-dynamic-title-input  ds_input">
    </div>

    {% if hide_email %}
    {% else %}
    <div class="ds_question">
        <label class="ds_label" for="{{slug}}-{{index}}-email">Email</label>
        <input data-validation="validEmail" type="text" id="{{slug}}-{{index}}-email" class="ds_input">
    </div>
    {% endif %}

    {% if hide_phone %}
    {% else %}
    <div class="ds_question">
        <label class="ds_label" for="{{slug}}-{{index}}-phone">Phone number</label>
        <input data-validation="validPhone" type="text" id="{{slug}}-{{index}}-phone" class="ds_input  ds_input--fixed-20">
    </div>
    {% endif %}

    {% if hide_address %}
    {% else %}
        {{ postcodeLookup(slug + '-' + index) }}
    {% endif %}

    {% if guarantor %}

        <div class="ds_question">
            <h3 class="beta">Guarantor</h3>
            <fieldset id="guarantor-{{index}}-query">
                <legend>
                Does this tenant have a guarantor?
                </legend>
                <div class="ds_field-group">
                    <div class="ds_radio">
                        <input id="guarantor-{{index}}-yes" name="guarantor-{{index}}-query" value="guarantor-yes" class="ds_radio__input" type="radio">
                        <label for="guarantor-{{index}}-yes" class="ds_radio__label">Yes</label>

                        <div class="ds_reveal-content">
                            <div class="ds_question">
                                <label class="ds_label" for="guarantor-{{index}}-name">Guarantor full name</label>
                                <input type="text" id="guarantor-{{index}}-name" class="ds_input">
                            </div>

                            {{ postcodeLookup('guarantor-' + index) }}
                        </div>
                    </div>

                    <div class="ds_radio">
                        <input id="guarantor-{{index}}-no" name="guarantor-{{index}}-query" value="guarantor-no" class="ds_radio__input" type="radio">
                        <label for="guarantor-{{index}}-no" class="ds_radio__label">No</label>
                    </div>
                </div>
            </fieldset>
        </div>
    {% endif %}
</section>
