Package: publishing-cms
Version: [[version]]
Section: mygov
Priority: optional
Architecture: all
Maintainer: martin.ellis@gov.scot
Pre-Depends: publishing-libs
Depends: java8-runtime-headless, graphicsmagick, exiftool
Description: Digital Publishing CMS
