/**
 * Teal theme
 */
 $ds_colour__brand: #1c5d5d;

 // Page block secondary theme background
 $pb_theme__background-secondary: #e6efef;

/**
 * Use mygov styles
 */
 $iconsfile: "../../../images/icons/icons.stack.svg";
 @import "../../mygov/main";