/*------------------------------------*\
    #PROGRESS TRACKER
\*------------------------------------*/

$terminal-width: 0.8125rem;
$progress-background: $ds_colour__background--tertiary;
$progress-foreground: $ds_colour__brand;

.ds_progress {
    @include ds_responsive-margin(4, bottom);
    font-size: 1rem;

    &__header {
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    &__title {
        @include ds_responsive-margin(1, bottom);
        border-top: 1px solid $ds_colour__border--faint;
        padding-top: 1.5rem;

        @include ds_media-query(medium) {
            border: none;
            padding-top: 0;
        }
    }

    &__meter {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background: $ds_colour__background--tertiary;
        border: none;
        border-radius: 0.5rem;
        display: block;
        height: 0.5rem;
        width: 100%;

        &::-webkit-progress-bar {
            background: $ds_colour__background--tertiary;
            border-radius: 0.5rem;
        }

        &::-webkit-progress-value {
            background: $progress-foreground;
            border-radius: 0.5rem;
        }

        &::-moz-progress-bar {
            background: $progress-foreground;
            border-radius: 0.5rem;
        }
    }

    &__sections {
        font-size: 1rem;
        line-height: 1.5;
        list-style: none;
        margin-left: 0;
        position: relative;
    }

    &__section {
        color: $ds_colour__text--secondary;
        margin-bottom: 0;
        margin-left: 2rem;
        padding-bottom: 0.5rem;
        position: relative;

        &::before {
            background-color: currentColor;
            bottom: -0.5rem;
            content: '';
            left: -1.25rem;
            position: absolute;
            top: 1rem;
            width: 1px;
        }

        &:last-child::before {
            bottom: 0;
        }

        &:last-child::after {
            background-color: currentColor;
            bottom: -1px;
            content: '';
            left: calc($terminal-width * 0.5 - 1px - 2rem);
            height: 1px;
            position: absolute;
            width: $terminal-width;
        }

        &:has(.ds_current) &-title::before {
            background-color: $ds_colour__brand;
            border-width: 0;
        }

        &:has(.ds_current),
        &--complete {
            color: $ds_colour__text;
        }

        &--complete ol {
            display: none;
        }

        &--complete:has(.ds_current) ol {
            display: block;
        }

        &--complete &-title::before {
            background-color: $ds_colour__dark-green;
            border-width: 0;
        }

        // checkmark
        &--complete &-title::after {
            background-color: transparent;
            border-style: solid;
            border-width: 0 0 0.125rem 0.125rem;
            border-color: $ds_colour__text--reversed;
            content: '';
            left: -1.5625rem;
            height: 0.3125rem;
            position: absolute;
            top: 0.5625rem;
            width: 0.625rem;
            transform: rotate(-45deg);

            @include ds_media-query(medium) {
                top: 0.75rem;
            }
        }
    }

    &__section-title {
        @include ds_root-size;
        line-height: 1.5;
        margin-bottom: 0.5rem;

        &::before {
            background-color: $ds_colour__background--primary;
            border: 1px solid $ds_colour__border--strong;
            border-radius: 1rem;
            content: '';
            height: 1.3125rem;
            left: -1.875rem;
            position: absolute;
            top: 0.125rem;
            width: 1.3125rem;

            @include ds_media-query(medium) {
                top: 0.375rem;
            }
        }
    }

    &__pages {
        list-style: none;
        margin-left: 0;

        @include ds_media-query(medium) {
            margin-top: -0.25rem;
        }

        li {
            margin-bottom: 0.25rem;

            @include ds_media-query(medium) {
                margin-bottom: 0.5rem;
            }
        }

        .ds_current {
            font-weight: $bold;
            position: relative;

            &::before {
                background-color: currentColor;
                content: '';
                height: 1px;
                left: -1.5rem;
                position: absolute;
                top: 0.75rem;
                width: 1.25rem;

                @include ds_media-query(medium) {
                    left: -1.75rem;
                }
            }
        }
    }

    &__section-title,
    &__pages {
        padding-left: 0.25rem;

        @include media-query (medium) {
            padding-left: 0.5rem;
        }
    }
}




@include ds_media-query-high-contrast {
    .ds_progress__meter::-webkit-progress-bar {
        outline: 1px solid transparent;
    }

    .ds_progress__meter::-webkit-progress-value {
        outline: 0.25rem solid transparent;
        outline-offset: -0.25rem;
    }

    .ds_progress__section-title::before {
        outline: 2px solid transparent;
        outline-offset: -2px;
    }

    .ds_progress__section:has(.ds_current) .ds_progress__section-title::before {
        outline: 0.65625rem solid transparent;
        outline-offset: -0.65625rem;
    }

    .ds_progress__section::before,
    .ds_progress__pages .ds_current::before,
    .ds_progress__section:last-child::after {
        outline: 1px solid transparent;
        outline-offset: -1px;
    }
}

.ds_progress__sections .ds_accordion-item:first-child {
    border-top: 0;
}

.ds_progress .ds_accordion__open-all {
    margin-bottom: 1rem;
    margin-left: 0;
}




/*------------------------------------*\
    #PROGRESS TRACKER -- ACCORDION VARIANT
\*------------------------------------*/

.ds_progress {
    .ds_accordion {
        margin-top: 0;

        .ds_progress__section {
            padding-bottom: 0;

            &::before {
                bottom: -0.625rem;
                top: 1.75rem;

                @include ds_media-query(medium) {
                    bottom: -1.125rem;
                    top: 2.25rem;
                }
            }

            &:last-child::before {
                bottom: 0;
            }

            &--complete ol {
                display: block;
            }

            &--complete .timeline-item__title::after {
                left: -1.5625rem;
                top: 1.125rem;
            }

            &--complete .ds_progress__section-title,
            &:has(.ds_current) .ds_progress__section-title {
                color: $ds_colour__text;
            }
        }

        .ds_progress__section-title {
            margin-bottom: 0;
            padding-left: 0;

            &::before {
                top: 0.5rem;

                @include ds_media-query(medium) {
                    top: 1rem;
                }
            }
        }

        .ds_progress__section--complete .ds_progress__section-title::after {
            top: 0.9375rem;

            @include ds_media-query(medium) {
                top: 1.4375rem;
            }
        }

        .ds_progress__pages {
            padding-left: 0;

            .ds_current::before {
                left: -1.75rem;
            }

            li {
                margin-bottom: 0.75rem;
            }
        }
    }

    .ds_accordion-item__body {
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }

    .ds_accordion-item__control:focus~.ds_accordion-item__header .ds_accordion-item__title,
    .ds_accordion-item__control:focus:hover~.ds_accordion-item__header .ds_accordion-item__title,
    .ds_accordion-item__header:hover .ds_accordion-item__title {
        color: $ds_colour__text;
    }
}
