definitions:
  config:
    /hst:hst/hst:configurations:
      /common:
        jcr:primaryType: hst:configuration
        /hst:abstractpages:
          jcr:primaryType: hst:pages
        /hst:pages:
          jcr:primaryType: hst:pages
        /hst:components:
          jcr:primaryType: hst:components
        /hst:templates:
          jcr:primaryType: hst:templates
          /base-layout:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/base-layout.ftl
          /base-footer:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/base-footer.ftl
          /base-notifications:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/base-notifications.ftl
          /base-siteheader:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/base-siteheader.ftl
          /article-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/article-main.ftl
          /breadcrumbs:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/breadcrumbs.ftl
          /category-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/category-main.ftl
          /home-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/home-main.ftl
          /sitemap.ftl:
            jcr:primaryType: hst:template
            hst:script: '<#ftl attributes={"content_type": "application/xml"} />${sitemap}'
          /robotstxt.ftl:
            jcr:primaryType: hst:template
            hst:script: "<#ftl encoding=\"UTF-8\" strip_whitespace=true  attributes={\"\
              content_type\": \"text/plain\"}>\r\n<#assign hst=JspTaglibs[\"http://www.hippoecm.org/jsp/hst/core\"\
              ] >\r\n<#if document??>\r\n  <#if document.sections??>\r\n    <#list\
              \ document.sections as section>\r\n      <#if section.userAgent?? &&\
              \ (section.disallows?? || disallowedFacNavLinks??)>\r\nUser-agent: ${section.userAgent}\r\
              \n        <#if section.disallows??>\r\n          <#list section.disallows\
              \ as path>\r\nDisallow: ${path}\r\n          </#list>\r\n        </#if>\r\
              \n        <#if disallowedFacNavLinks??>\r\n          <#list disallowedFacNavLinks\
              \ as facnav>\r\nDisallow: <@hst.link link=facnav/>/\r\n          </#list>\r\
              \n        </#if>\r\n      </#if>\r\n    </#list>\r\n  </#if>\r\n  <#if\
              \ document.sitemaps??>\r\n    <#list document.sitemaps as sitemap>\r\
              \nSitemap: ${sitemap}\r\n    </#list>\r\n  </#if>\r\n</#if>"
          /base-googletagmanager:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/gtm.ftl
          /cookiepreferences-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/cookie-preferences-main.ftl
          /pagenotfound-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/pagenotfound-main.ftl
          /guide-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/guide-main.ftl
          /organisation-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/organisation-main.ftl
          /organisationlist-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/organisationlist-main.ftl
          /notification-banner:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/notification-banner.ftl
          /mygov-siteheader:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/mygov/base-siteheader.ftl
          /documentcoverpage-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/documentcoverpage-main.ftl
          /formbase-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/formbase-main.ftl
          /fairrent-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/fairrent-main.ftl
          /preview-indicator:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/preview-indicator.ftl
          /feedback:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/feedback.ftl
          /smartanswer-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/smartanswer-main.ftl
          /imageandtext:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/imageandtext.ftl
          /divider:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/divider.ftl
          /header:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/header.ftl
          /threeimagecards:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/threeimagecards.ftl
          /text:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/text.ftl
          /doubletext:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/doubletext.ftl
          /seo:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/seo.ftl
          /video:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/video.ftl
          /pageheader:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/featureheader.ftl
          /fragments:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/fragments.ftl
          /campaign-base-layout-with-main-content:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/campaign-base-layout-with-main-content.ftl
          /template-home-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/ddat/home-main.ftl
          /site-navigation:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/site-navigation.ftl
          /site-navigation-mobile:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/site-navigation-mobile.ftl
          /campaign-home-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/campaign-home-main.ftl
          /site-verification:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/site-verification.ftl
          /search-funnelback-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/search-funnelback-main.ftl
          /search-funnelback-results:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/search-funnelback-results.ftl
          /textandcard:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/textandcard.ftl
          /step-by-step-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/step-by-step-main.ftl
          /stepbystep-sidebar:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/step-by-step-sidebar.ftl
          /stepbystep-topbar:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/step-by-step-topbar.ftl
          /search-bar:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/search-bar.ftl
          /featuregrid:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/featuregrid.ftl
          /ds-article:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/ds-article.ftl
          /base-plausibleanalytics:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/plausibleanalytics.ftl
          /news-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/news-main.ftl
          /latestnews:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/latestnews.ftl
          /filteredlist.page:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/filteredlist/page.ftl
          /filteredlist.filter:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/filteredlist/filter.ftl
          /filteredlist.results.ftl:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/filteredlist/filter.ftl
          /filteredlist.side-filter:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/filteredlist/filter.ftl
          /filteredlist.results:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/filteredlist/results.ftl
          /publication-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/publication-main.ftl
          /latestpublications:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/latestpublications.ftl
          /search-side-filter:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/search-filter.ftl
          /manual-main:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/manual-main.ftl
          /manual-coverpage:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/manual-coverpage.ftl
          /manual-sidebar:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/manual-sidebar.ftl
          /manual-documentspage:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/manual-documentspage.ftl
          /eventbrite:
            jcr:primaryType: hst:template
            hst:renderpath: webfile:/freemarker/common/page-blocks/events.ftl
        /hst:sitemenus:
          jcr:primaryType: hst:sitemenus
        /hst:sitemapitemhandlers:
          jcr:primaryType: hst:sitemapitemhandlers
          /trailing-slash:
            jcr:primaryType: hst:sitemapitemhandler
            hst:sitemapitemhandlerclassname: scot.mygov.publishing.sitemap.TrailingSlashRedirect
        /hst:catalog:
          jcr:primaryType: hst:catalog
          /publishing-catalog:
            jcr:primaryType: hst:containeritempackage
            /divider:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.DividerComponent
              hst:iconpath: icons/divider.svg
              hst:label: Divider
              hst:template: divider
            /header:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.HeaderComponent
              hst:iconpath: icons/header.svg
              hst:label: Header
              hst:template: header
            /imageandtext:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.ImageAndTextComponent
              hst:iconpath: icons/imageandtext.svg
              hst:label: Image and text
              hst:template: imageandtext
            /video:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.VideoComponent
              hst:iconpath: icons/video.svg
              hst:label: Video
              hst:template: video
            /threeimagecards:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.ThreeImageCardsComponent
              hst:iconpath: icons/threeimagecards.svg
              hst:label: 3 image cards
              hst:template: threeimagecards
            /text:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.TextComponent
              hst:iconpath: icons/text.svg
              hst:label: Text
              hst:template: text
            /doubletext:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.DoubleTextComponent
              hst:iconpath: icons/doubletext.svg
              hst:label: Double text
              hst:template: doubletext
            /seo:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.SEOComponent
              hst:iconpath: icons/seo.svg
              hst:label: SEO
              hst:template: seo
            /pageheading:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.PageheadingComponent
              hst:iconpath: icons/pageheader.svg
              hst:label: Feature Header
              hst:template: pageheader
            /textandcard:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.TextAndCardComponent
              hst:iconpath: icons/textandcard.svg
              hst:label: Text and card
              hst:template: textandcard
            /featuregrid:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.FeatureGridComponent
              hst:iconpath: icons/featuregrid.svg
              hst:label: Feature grid
              hst:template: featuregrid
            /latestNews:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.LatestNewsComponent
              hst:iconpath: icons/latestnews.svg
              hst:label: Latest news
              hst:template: latestnews
            /latestPublications:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.LatestPublicationsComponent
              hst:iconpath: icons/latestnews.svg
              hst:label: Latest publications
              hst:template: latestpublications
            /eventbriteSummary:
              jcr:primaryType: hst:containeritemcomponent
              hst:componentclassname: scot.mygov.publishing.components.eventbrite.EventbriteComponent
              hst:iconpath: icons/eventbrite.svg
              hst:label: Eventbrite
              hst:template: eventbrite
      /publishing:
        jcr:primaryType: hst:configuration
        hst:inheritsfrom: [../common]
