pre {
    overflow: visible;
}

code {
    @include ds_small-size;

    line-height: line-height-on-grid($small-size);

    @include media-query(medium) {
        line-height: line-height-on-grid($small-size--medium, 2);
    }

    &:not([class*="language-"]) {
        color: $ds_colour__red;
    }
}

pre > code {
    display: block;
    line-height: 2;
    overflow-wrap: break-word;
    padding: 4px 8px;
}

figure > pre {
    margin-bottom: 0;
}
