{% from "../macros.njk" import postcodeLookup %}

<section data-group="landlords" data-step="landlord-{{index}}" id="landlord-{{index}}" class="fully-hidden form-step">
    <h2>Landlord: <span class="js-dynamic-title"></span></h2>
    <button class="js-remove-repeating-section  repeating-container__remove  ds_button  ds_button--cancel">Remove this landlord</button>

    <div class="ds_question">
        <label class="ds_label" for="landlord-{{index}}-name">Full name</label>
        <input type="text" id="landlord-{{index}}-name" class="js-dynamic-title-input ds_input" data-validation="requiredField">
    </div>

    {{ postcodeLookup('landlord-' + index) }}

    <div class="ds_inset-text">
        <div class="ds_inset-text__text">
            If you don't know your landlord's address, you might be able to find it on the <a href="https://www.landlordregistrationscotland.gov.uk/" target="_blank">Scottish Landlord Register (opens in a new window)</a>
        </div>
    </div>
</section>
