<div class="ds_accordion" data-module="ds-accordion">
    <button  type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-property" aria-labelledby="panel-property-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-property-heading" class="ds_accordion-item__title">
                Property
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-property"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body  ds_no-padding--horizontal" id="accordion-item-property">
            <table class="ds_table  summary-table">
                <tbody>
                    <tr>
                        <th>Address</th>
                        <td>
                            <div class="hide-if-empty">{{propertyAddress}}</div>
                        </td>
                        <td class="summary-table__edit"><a href="#!/property/property-details/" class="edit">edit</a></td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>
                            {{propertyType_text}}

                            {% if (propertyType == 'OTHER') %}
                                {% if buildingOther %}
                                    ({{buildingOther}})
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/property/property-details/" class="edit">edit</a></td>
                    </tr>
                    <tr>
                        <th>Facilities</th>

                        <td>
                            {% if facilities %}
                            <ul class="no-bullets">
                                {% for facility in facilities %}
                                <li>
                                    {{facility.name}}
                                    ({{facility.type}})
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                                None
                            {% endif %}
                        </td>

                        <td class="summary-table__edit"><a href="#!/property/property-details/" class="edit">edit</a></td>
                    </tr>
                    <tr>
                        <th>Furnishing</th>
                        <td>
                            {{furnishingType_text}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/property/property-furnishings/" class="edit">edit</a></td>
                    </tr>
                    <tr>
                        <th>HMO</th>
                        <td>
                            {% if (hmoProperty == 'true') %}
                                <dl class="summary-list">
                                    <dt class="summary-list__label">Contact number</dt>
                                    <dd>
                                        {{hmo24ContactNumber}}
                                    </dd>

                                    <dt class="summary-list__label">Expiry date</dt>
                                    <dd>
                                        {{hmoRegistrationExpiryDate}}
                                    </dd>
                                </dl>
                            {% endif %}

                            {% if (hmoProperty == 'false') %}
                                Property is not a HMO
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/property/property-hmo/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-tenancy" aria-labelledby="panel-tenancy-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-tenancy-heading" class="ds_accordion-item__title">
                Tenancy
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-tenancy"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body  ds_no-padding--horizontal" id="accordion-item-tenancy">
            <table class="ds_table  summary-table">
                <tbody>
                    <tr>
                        <th>Start date</th>
                        <td>
                            {{tenancyStartDate}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/tenancy/tenancy-start/" class="edit">edit</a></td>
                    </tr>
                    <tr>
                        <th>Payment details </th>
                        <td>
                            <dl class="summary-list">
                                {% if rentAmount %}
                                    <dt class="summary-list__label">Rent amount</dt>
                                    <dd>
                                        {{rentAmount | currency}}
                                    </dd>
                                {% endif %}

                                {% if rentPaymentFrequency %}
                                    <dt class="summary-list__label">Payment frequency</dt>
                                    <dd>
                                        {{rentPaymentFrequency_text}}
                                    </dd>
                                {% endif %}

                                {% if rentPaymentScheduleObject %}
                                    {% if rentPaymentScheduleObject.week %}
                                    <dt class="summary-list__label">Payment week</dt>
                                    <dd>
                                        {{rentPaymentScheduleObject.week}}
                                    </dd>
                                    {% endif %}
                                    {% if rentPaymentScheduleObject.day %}
                                    <dt class="summary-list__label">Payment day</dt>
                                    <dd>
                                        {{rentPaymentScheduleObject.day}}
                                    </dd>
                                    {% endif %}
                                    {% if rentPaymentScheduleObject.date %}
                                    <dt class="summary-list__label">Payment date</dt>
                                    <dd>
                                        {{rentPaymentScheduleObject.date}}
                                    </dd>
                                    {% endif %}
                                {% endif %}

                                {% if rentPayableInAdvance %}
                                    <dt class="summary-list__label">Advance/arrears</dt>
                                    <dd>
                                        {{rentPayableInAdvance_text}}
                                    </dd>
                                {% endif %}

                                {% if rentPaymentMethod %}
                                    <dt class="summary-list__label">Payment method</dt>
                                    <dd>
                                        {{rentPaymentMethod}}
                                    </dd>
                                {% endif %}

                                {% if servicesIncludedInRent.length %}
                                    <dt class="summary-list__label">Services</dt>
                                    <dd>
                                        <ul class="no-bullets">
                                            {% for service in servicesIncludedInRent %}
                                                <li>
                                                    {{service.name}}
                                                    ({{service.value | currency}})
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                {% endif %}
                            </dl>
                        </td>
                        <td class="summary-table__edit"><a href="#!/tenancy/tenancy-payment/" class="edit">edit</a></td>
                    </tr>
                    <tr>
                        <th>First payment</th>
                        <td>
                            <dl class="summary-list">
                                {% if firstPaymentAmount %}
                                    <dt class="summary-list__label">Amount</dt>
                                    <dd>
                                        {{firstPaymentAmount | currency}}
                                    </dd>
                                {% endif %}

                                {% if firstPaymentDate %}
                                    <dt class="summary-list__label">Date</dt>
                                    <dd>
                                        {{firstPaymentDate}}
                                    </dd>
                                {% endif %}

                                {% if firstPaymentPeriodEnd %}
                                    <dt class="summary-list__label">End date</dt>
                                    <dd>
                                        {{firstPaymentPeriodEnd}}
                                    </dd>
                                {% endif %}
                            </dl>
                        </td>
                        <td class="summary-table__edit"><a href="#!/tenancy/tenancy-first-payment/" class="edit">edit</a></td>
                    </tr>
                    <tr>
                        <th>Deposit</th>
                        <td>
                            <dl class="summary-list">
                                {% if depositAmount %}
                                    <dt class="summary-list__label">Amount</dt>
                                    <dd>
                                        {{depositAmount | currency}}
                                    </dd>
                                {% endif %}

                                {% if tenancyDepositSchemeAdministrator %}
                                    <dt class="summary-list__label">Scheme</dt>
                                    <dd>
                                        {{tenancyDepositSchemeAdministrator}}
                                    </dd>
                                {% endif %}
                            </dl>
                        </td>
                        <td class="summary-table__edit"><a href="#!/tenancy/tenancy-deposit/" class="edit">edit</a></td>
                    </tr>

                    <tr>
                        <th>Communication</th>
                        <td>
                            {{communicationsAgreement_text}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/tenancy/tenancy-communication-agreement/" class="edit">edit</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-administration" aria-labelledby="panel-administration-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-administration-heading" class="ds_accordion-item__title">
                Managing the property
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-administration"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body  ds_no-padding--horizontal" id="accordion-item-administration">
            <table class="ds_table  summary-table">

                <tr>
                    <th>Letting agent</th>
                    <td>
                        {% if (hasLettingAgent == 'letting-agent-yes') %}
                            <dl class="summary-list">

                                <dt class="summary-list__label">Name</dt>
                                <dd>{{lettingAgent.name}}</dd>

                                <dt class="summary-list__label">Address</dt>

                                    <div class="hide-if-empty">{{lettingAgent.address.building}}</div>
                                    <div class="hide-if-empty">{{lettingAgent.address.street}}</div>
                                    <div class="hide-if-empty">{{lettingAgent.address.town}}</div>
                                    <div class="hide-if-empty">{{lettingAgent.address.region}}</div>
                                    <div class="hide-if-empty">{{lettingAgent.address.postcode}}</div>
                                </dd>

                                <dt class="summary-list__label">Email</dt>
                                <dd>{{lettingAgent.email}}</dd>

                                <dt class="summary-list__label">Telephone</dt>
                                <dd>>{{lettingAgent.telephone}}</dd>

                                <dt class="summary-list__label">Registration number</dt>
                                <dd>{{lettingAgent.registrationNumber}}</dd>

                                <dt>Services provided by the letting agent:</dt>
                                <dd>
                                    {% if servicesProvidedByLettingAgent.length %}
                                        <ul class="no-bullets">
                                            {% for service in servicesProvidedByLettingAgent %}
                                                <li>
                                                    {{service.name}}
                                                    {% if (service.lettingAgentIsFirstContact == 'YES') %}(first point of contact){% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        None
                                    {% endif %}
                                </dd>

                                <dt>Other services that the letting agent is the first point of contact for:</dt>
                                <dd>
                                    {% if servicesLettingAgentIsFirstContactFor.length %}
                                        <ul class="no-bullets">
                                            {% for service in servicesLettingAgentIsFirstContactFor %}
                                                <li>
                                                    {{service.name}}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        None
                                    {% endif %}
                                </dd>
                            </dl>
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td class="summary-table__edit"><a href="#!/managing-the-property/letting-agent/" class="edit">edit</a></td>
                </tr>

                {% if hasLandlords %}
                {% else %}
                    <tr>
                        <th>Landlords</th>
                        <td></td>
                        <td class="summary-table__edit"><a href="#!/managing-the-property/landlord-1/" class="edit">edit</a></td>
                    </tr>
                {% endif %}

                {% for key, landlord in landlords %}
                    {% if landlord.name %}
                    <tr>
                        <th>Landlord {{loop.index}}</th>
                        <td>
                            <dl class="summary-list">
                                <dt class="summary-list__label">Name</dt>
                                <dd>
                                    {{landlord.name}}
                                </dd>

                                <dt class="summary-list__label">Address</dt>
                                <dd>
                                    <div class="hide-if-empty">{{landlord.address.building}}</div>
                                    <div class="hide-if-empty">{{landlord.address.street}}</div>
                                    <div class="hide-if-empty">{{landlord.address.town}}</div>
                                    <div class="hide-if-empty">{{landlord.address.region}}</div>
                                    <div class="hide-if-empty">{{landlord.address.postcode}}</div>
                                </dd>

                                <dt class="summary-list__label">Email</dt>
                                <dd>
                                    {{landlord.email}}
                                </dd>

                                <dt class="summary-list__label">Telephone</dt>
                                <dd>
                                    {{landlord.telephone}}
                                </dd>

                                <dt class="summary-list__label">Registration number</dt>
                                <dd>
                                    {{landlord.registrationNumber}}
                                </dd>
                            </dl>
                        </td>
                        <td class="summary-table__edit"><a href="#!/managing-the-property/landlord-{{loop.index}}/" class="edit">edit</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-tenants-summary" aria-labelledby="panel-tenants-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-tenants-heading" class="ds_accordion-item__title">
                Tenants
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-tenants-summary"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body  ds_no-padding--horizontal" id="accordion-item-tenants">
            <table class="ds_table  summary-table">

                {% if tenants.length %}
                {% else %}
                    <tr>
                        <th>Tenants</th>
                        <td></td>
                        <td class="summary-table__edit"><a href="#!/tenants/tenant-1/" class="edit">edit</a></td>
                    </tr>
                {% endif %}

                {% for key, tenant in tenants %}
                    {% if tenant.name %}
                    <tr>
                        <th>Tenant {{loop.index}}</th>
                        <td>
                            <dl class="summary-list">
                                <dt class="summary-list__label">Name</dt>
                                <dd>
                                    {{tenant.name}}
                                </dd>

                                <dt class="summary-list__label">Address</dt>
                                <dd>
                                    <div class="hide-if-empty">{{tenant.address.building}}</div>
                                    <div class="hide-if-empty">{{tenant.address.street}}</div>
                                    <div class="hide-if-empty">{{tenant.address.town}}</div>
                                    <div class="hide-if-empty">{{tenant.address.region}}</div>
                                    <div class="hide-if-empty">{{tenant.address.postcode}}</div>
                                </dd>

                                <dt class="summary-list__label">Email</dt>
                                <dd>
                                    {{tenant.email}}
                                </dd>

                                <dt class="summary-list__label">Telephone</dt>
                                <dd>
                                    {{tenant.telephone}}
                                </dd>

                                <dt class="summary-list__label">Guarantor</dt>
                                {% if (tenant.hasGuarantor == 'guarantor-yes') %}
                                    <dd>
                                        <div class="hide-if-empty">{{tenant.guarantor.name}}</div>
                                        <div class="hide-if-empty">{{tenant.guarantor.address.building}}</div>
                                        <div class="hide-if-empty">{{tenant.guarantor.address.street}}</div>
                                        <div class="hide-if-empty">{{tenant.guarantor.address.town}}</div>
                                        <div class="hide-if-empty">{{tenant.guarantor.address.region}}</div>
                                        <div class="hide-if-empty">{{tenant.guarantor.address.postcode}}</div>
                                    </dd>
                                {% else %}
                                    None
                                {% endif %}
                            </dl>
                        </td>
                        <td class="summary-table__edit"><a class="edit" href="#!/tenants/tenant-{{loop.index}}/">edit</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
