{% if excludedTerms %}
<h3>Excluded terms</h3>

<div class="ds_accordion" data-module="ds-accordion">
    <button  type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>

{% if excludedTerms.contentsAndConditions %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-contents-and-condition-excluded" aria-labelledby="panel-contents-and-condition-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-contents-and-condition-heading-excluded" class="ds_accordion-item__title">
                Contents and condition
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-contents-and-condition-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-contents-and-condition-excluded">
            {{ excludedTerms.contentsAndConditions | paragraphify | safe }}

            <a href="#!/extra-terms/contents-and-condition/">Edit <span class="visually-hidden">contents and condition</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.localAuthorityTaxesAndCharges %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-local-authority-excluded" aria-labelledby="panel-local-authority-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-local-authority-heading-excluded" class="ds_accordion-item__title">
                Local authority taxes/charges
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-local-authority-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-local-authority-excluded">
            {{ excludedTerms.localAuthorityTaxesAndCharges | paragraphify | safe }}

            <a href="#!/extra-terms/local-authority-taxes/">Edit <span class="visually-hidden">local authority taxes/charges</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.utilities %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-utilities-excluded" aria-labelledby="panel-utilities-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-utilities-heading-excluded" class="ds_accordion-item__title">
                Utilities
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-utilities-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-utilities-excluded">
            {{ excludedTerms.utilities | paragraphify | safe }}

            <a href="#!/extra-terms/utilities/">Edit <span class="visually-hidden">utilities</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.alterations %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-alterations-excluded" aria-labelledby="panel-alterations-1-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-alterations-heading-excluded" class="ds_accordion-item__title">
                Alterations
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-alterations-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-alterations-excluded">
            {{ excludedTerms.alterations | paragraphify | safe }}

            <p>Any request for adaptations, auxiliary aids or services under section 37 of the Equality Act 2010 or section 52 of the Housing (Scotland) Act 2006 must be made in writing to the Landlord and any other owners of the common parts, where appropriate. Consent for alterations requested under this legislation should not be unreasonably withheld. If no consent is given for the adaptations you may appeal to the Tribunal in relation to section 52 (or sheriff court in relation to section 37) within 6 months of being notified of the decision. Before doing this, you may find it helpful to discuss your circumstance with your local Citizens Advice Bureau, Shelter Scotland or the local authority for the area where the Let Property is situated.</p>

            <a href="#!/extra-terms/alterations/">Edit <span class="visually-hidden">alterations</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.commonParts %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-common-parts-excluded" aria-labelledby="panel-common-parts-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-common-parts-heading-excluded" class="ds_accordion-item__title">
                Common parts
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-common-parts-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-common-parts-excluded">
            {{ excludedTerms.commonParts | paragraphify | safe }}

            <a href="#!/extra-terms/common-parts/">Edit <span class="visually-hidden">common parts</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.privateGarden %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-private-garden-excluded" aria-labelledby="panel-private-garden-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-private-garden-heading-excluded" class="ds_accordion-item__title">
                Private garden
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-private-garden-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-private-garden-excluded">
            {{ excludedTerms.privateGarden | paragraphify | safe }}

            <a href="#!/extra-terms/private-garden/">Edit <span class="visually-hidden">private garden</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.roof %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-roof-excluded" aria-labelledby="panel-roof-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-roof-heading-excluded" class="ds_accordion-item__title">
                Roof
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-roof-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-roof-excluded">
            {{ excludedTerms.roof | paragraphify | safe }}

            <a href="#!/extra-terms/roof/">Edit <span class="visually-hidden">roof</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.binsAndRecycling %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-bins-and-recycling-excluded" aria-labelledby="panel-bins-and-recycling-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-bins-and-recycling-heading-excluded" class="ds_accordion-item__title">
                Bins and recycling
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-bins-and-recycling-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-bins-and-recycling-excluded">
            {{ excludedTerms.binsAndRecycling | paragraphify | safe }}

            <a href="#!/extra-terms/bins-and-recycling/">Edit <span class="visually-hidden">bins and recycling</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.storage %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-storage-excluded" aria-labelledby="panel-storage-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-storage-heading-excluded" class="ds_accordion-item__title">
                Storage
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-storage-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-storage-excluded">
            {{ excludedTerms.storage | paragraphify | safe }}

            <a href="#!/extra-terms/storage/">Edit <span class="visually-hidden">storage</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.dangerousSubstances %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-dangerous-substances-excluded" aria-labelledby="panel-dangerous-substances-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-dangerous-substances-heading-excluded" class="ds_accordion-item__title">
                Dangerous substances
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-dangerous-substances-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-dangerous-substances-excluded">
            {{ excludedTerms.dangerousSubstances | paragraphify | safe }}

            <a href="#!/extra-terms/dangerous-substances/">Edit <span class="visually-hidden">dangerous substances</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.pets %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-pets-excluded" aria-labelledby="panel-pets-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-pets-heading-excluded" class="ds_accordion-item__title">
                Pets
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-pets-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-pets-excluded">
            {{ excludedTerms.pets | paragraphify | safe }}

            <a href="#!/extra-terms/pets/">Edit <span class="visually-hidden">pets</span></a>
        </div>
    </div>
    {% endif %}

    {% if excludedTerms.smoking %}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-smoking-excluded" aria-labelledby="panel-smoking-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-smoking-heading-excluded" class="ds_accordion-item__title">
                Smoking
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-smoking-excluded"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-smoking-excluded">
            {{ excludedTerms.smoking | paragraphify | safe }}

            <a href="#!/extra-terms/smoking/">Edit <span class="visually-hidden">pets</span></a>
        </div>
    </div>
    {% endif %}
</div>

{% endif %}
