<section data-group="additional-terms" data-step="additional-term-{{index}}" id="additional-term-{{index}}" class="fully-hidden form-step">
    <h2>Additional terms</h2>
    <button class="js-remove-repeating-section  repeating-container__remove  ds_button  ds_button--cancel">Remove this term</button>

    <p>Enter any additional terms you would like to have in your tenancy agreement.</p>

    <div class="ds_question">
        <label class="ds_label" for="additional-term-{{index}}-title">Additional term title</label>
        <input type="text" id="additional-term-{{index}}-title" class="js-dynamic-title-input  ds_input">
    </div>

    <div class="ds_question">
        <label class="ds_label" for="additional-term-{{index}}-content">Additional term text</label>
        <textarea id="additional-term-{{index}}-content" class="ds_input" rows="10"></textarea>
    </div>
</section>
