<div class="ds_accordion" data-module="ds-accordion">
    <button  type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-property" aria-labelledby="panel-property-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-property-heading" class="ds_accordion-item__title">
                Property
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-property"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-property">
            <table class="ds_table  summary-table">
                <tbody>
                    <tr data-summary-field="property-postcode-search">
                        <th>Property Address</th>
                        <td>
                            <div class="hide-if-empty">{{address.building}}</div>
                            <div class="hide-if-empty">{{address.street}}</div>
                            <div class="hide-if-empty">{{address.town}}</div>
                            <div class="hide-if-empty">{{address.region}}</div>
                            <div class="hide-if-empty">{{address.postcode}}</div>
                        </td>
                        <td class="summary-table__edit"><a href="#!/property/property-address/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-tenants" aria-labelledby="panel-tenants-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-tenants-heading" class="ds_accordion-item__title">
                Tenants
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-tenants"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-tenants">
            <table class="ds_table  summary-table">
                <tbody>
                    <tr data-summary-field="tenant-1-name">
                        <th>Tenant name(s)</th>
                        <td>
                            {% for key, name in tenantNames %}
                            {{name}}
                            {% endfor %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/tenants/tenant-names/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="tenants-agent-query tenants-agent-postcode-search tenants-agent-postcode-results tenants-agent-name tenants-agent-building-street tenants-agent-address-town">
                        <th>Agent</th>
                        <td>
                            {% if hasAgent == "true" %}
                                <dl class="summary-list">
                                    <dt class="summary-list__label">Name</dt>
                                    <dd>{{tenantsAgent.name}}</dd>

                                    <dt class="summary-list__label">Address</dt>

                                        <div class="hide-if-empty">{{tenantsAgent.address.building}}</div>
                                        <div class="hide-if-empty">{{tenantsAgent.address.street}}</div>
                                        <div class="hide-if-empty">{{tenantsAgent.address.town}}</div>
                                        <div class="hide-if-empty">{{tenantsAgent.address.region}}</div>
                                        <div class="hide-if-empty">{{tenantsAgent.address.postcode}}</div>
                                    </dd>
                                </dl>


                            {% endif %}
                            {% if hasAgent == "false" %}
                                None
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/tenants/agent-details/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-managing" aria-labelledby="panel-managing-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-managing-heading" class="ds_accordion-item__title">
                Managing the property
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-managing"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-managing">
            <table class="ds_table  summary-table">

                <tr data-summary-field="letting-agent-query letting-agent-name letting-agent-postcode-search letting-agent-postcode-results letting-agent-building-street letting-agent-address-town">
                    <th>Letting agent</th>
                    <td>
                        {% if hasLettingAgent == "yes" %}
                            <dl class="summary-list">
                                <dt class="summary-list__label">Name</dt>
                                <dd>{{landlordsAgent.name}}</dd>

                                <dt class="summary-list__label">Address</dt>

                                    <div class="hide-if-empty">{{landlordsAgent.address.building}}</div>
                                    <div class="hide-if-empty">{{landlordsAgent.address.street}}</div>
                                    <div class="hide-if-empty">{{landlordsAgent.address.town}}</div>
                                    <div class="hide-if-empty">{{landlordsAgent.address.region}}</div>
                                    <div class="hide-if-empty">{{landlordsAgent.address.postcode}}</div>
                                </dd>
                            </dl>


                        {% endif %}
                        {% if hasLettingAgent == "no" %}
                            None
                        {% endif %}
                    </td>
                    <td class="summary-table__edit"><a href="#!/managing-the-property/letting-agent/" class="edit">edit</a></td>
                </tr>

                {% if hasLettingAgent == "no" %}
                    {% for key, landlord in landlords %}
                    <tr data-summary-field="landlord-{{loop.index}}-name landlord-{{loop.index}}-postcode-search landlord-{{loop.index}}-postcode-results landlord-{{loop.index}}-building-street landlord-{{loop.index}}-address-town">
                        <th>Landlord {{loop.index}}</th>
                        <td>
                            <dl class="summary-list">
                                <dt class="summary-list__label">Name</dt>
                                <dd>{{landlord.name}}</dd>

                                <dt class="summary-list__label">Address</dt>

                                    <div class="hide-if-empty">{{landlord.address.building}}</div>
                                    <div class="hide-if-empty">{{landlord.address.street}}</div>
                                    <div class="hide-if-empty">{{landlord.address.town}}</div>
                                    <div class="hide-if-empty">{{landlord.address.region}}</div>
                                    <div class="hide-if-empty">{{landlord.address.postcode}}</div>
                                </dd>
                            </dl>
                        </td>
                        <td class="summary-table__edit"><a href="#!/managing-the-property/landlord-{{loop.index}}/" class="edit">edit</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if hasLettingAgent == null %}
                <tr data-summary-field="landlord-1-name landlord-1-postcode-search">
                    <th>Landlord 1</th>
                    <td>
                        <dl class="summary-list">
                            <dt class="summary-list__label">Name</dt>
                            <dt class="summary-list__label">Address</dt>
                        </dl>
                    </td>
                    <td class="summary-table__edit"><a href="#!/managing-the-property/letting-agent/" class="edit">edit</a></td>
                </tr>
                {% endif %}

            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-missing" aria-labelledby="panel-missing-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-missing-heading" class="ds_accordion-item__title">
                What's missing
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-missing"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-missing">
            <table class="ds_table  summary-table">

                <tr data-summary-field="whats-missing-query">
                    <th>All tenancy terms missing</th>
                    <td>
                        {% if section10aFailure %}
                            <dl class="summary-list">
                                Yes
                                <dt class="summary-list__label">Details</dt>
                                <dd class="summary-list">
                                    {{section10aDetails}}
                                </dd>
                            </dl>
                        {% else %}
                            <dl class="summary-list">
                                No
                            </dl>
                        {% endif %}
                    </td>
                    <td class="summary-table__edit"><a href="#!/whats-missing/whats-missing-details/missing-tenancy/" class="edit">edit</a></td>
                </tr>

                <tr data-summary-field="whats-missing-query">
                    <th>New tenancy terms missing</th>
                    <td>
                        {% if section10bFailure %}
                            <dl class="summary-list">
                                Yes
                                <dt class="summary-list__label">Details</dt>
                                <dd class="summary-list">
                                    {{section10bDetails}}
                                </dd>
                            </dl>
                        {% else %}
                            <dl class="summary-list">
                                No
                            </dl>
                        {% endif %}
                    </td>
                    <td class="summary-table__edit"><a href="#!/whats-missing/whats-missing-details/missing-new-terms/" class="edit">edit</a></td>
                </tr>

                <tr data-summary-field="whats-missing-query">
                    <th>Tenancy guidance notes missing</th>
                    <td>
                        {% if section11Failure %}
                            <dl class="summary-list">
                                Yes
                                <dt class="summary-list__label">Details</dt>
                                <dd class="summary-list">
                                    {{section11Details}}
                                </dd>
                            </dl>
                        {% else %}
                            <dl class="summary-list">
                                No
                            </dl>
                        {% endif %}
                    </td>
                    <td class="summary-table__edit"><a href="#!/whats-missing/whats-missing-details/missing-notes/" class="edit">edit</a></td>
                </tr>

                {% if section10bFailure %}
                <tr data-summary-field="changed-terms-query changed-terms-date-picker">
                    <th>Date terms were changed</th>

                    {% if hasChangedTerms == 'true' %}
                    <td>
                        {{changedTermsDate}}
                    </td>
                    <td class="summary-table__edit"><a href="#!/whats-missing/changed-terms/" class="edit">edit</a></td>
                    {% endif %}
                    {% if hasChangedTerms == 'false' %}
                    <td>
                        More than 28 days ago
                    </td>
                    <td class="summary-table__edit"><a href="#!/whats-missing/changed-terms/" class="edit">edit</a></td>
                    {% endif %}
                    {% if hasChangedTerms == "" %}
                    <td>

                    </td>
                    <td class="summary-table__edit"><a href="#!/whats-missing/changed-terms/" class="edit">edit</a></td>
                    {% endif %}
                </tr>
                {% endif %}

                <tr data-summary-field="payment-order-query">
                    <th>Payment to be claimed</th>
                    <td>
                        {% if section16Failure == 'true' %}
                            <dl class="summary-list">
                                Yes
                            </dl>
                        {% endif %}
                        {% if section16Failure == 'false' %}
                            <dl class="summary-list">
                                No
                            </dl>
                        {% endif %}
                    </td>
                    <td class="summary-table__edit"><a href="#!/whats-missing/payment-order/" class="edit">edit</a></td>
                </tr>

            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-giving-notice" aria-labelledby="panel-giving-notice-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-giving-notice-heading" class="ds_accordion-item__title">
                Giving this notice
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-giving-notice"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-giving-notice">
            <table class="ds_table  summary-table">

                <tr data-summary-field="communication-query">
                    <th>Communication method</th>
                    <td>
                        {{communicationMethod_text}}
                    </td>
                    <td class="summary-table__edit"><a href="#!/giving-this-notice/communication/" class="edit">edit</a></td>
                </tr>

                <tr data-summary-field="notice-date-picker">
                    <th>Date notice will be given</th>
                    <td>
                        {{noticeDate}}
                    </td>
                    <td class="summary-table__edit"><a href="#!/giving-this-notice/notice-date/" class="edit">edit</a></td>
                </tr>

                <tr>
                    <th>Date notice period will end</th>
                    <td>
                        {{intendedReferralDate}}
                    </td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>
</div>
