<div class="ds_accordion" data-module="ds-accordion">
    <button  type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-address" aria-labelledby="panel-property-address" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-address-heading" class="ds_accordion-item__title">
                Address
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-address"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-address">
             <table class="ds_table  summary-table">
                <tbody>
                    <tr data-summary-field="rpz-postcode-search rpz-postcode-results">
                        <th>Address</th>
                        <td>
                            <div class="hide-if-empty">{{propertyAddress.building}}</div>
                            <div class="hide-if-empty">{{propertyAddress.street}}</div>
                            <div class="hide-if-empty">{{propertyAddress.town}}</div>
                            <div class="hide-if-empty">{{propertyAddress.region}}</div>
                            <div class="hide-if-empty">{{propertyAddress.postcode}}</div>
                        </td>
                        <td class="summary-table__edit"><a href="#!/address/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-tenants" aria-labelledby="panel-property-tenants" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-tenants-heading" class="ds_accordion-item__title">
                Tenants
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-tenants"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-tenants">
             <table class="ds_table  summary-table">

                {% if hasTenants %}
                {% else %}
                    <tr data-summary-field="tenant-1-name">
                        <th>Tenants</th>
                        <td>None specified</td>
                        <td class="summary-table__edit"><a href="#!/tenants/tenant-1/" class="edit">edit</a></td>
                    </tr>
                {% endif %}

                {% for key, tenant in tenans %}
                <tr data-summary-field="tenant-{{loop.index}}-address-building tenant-{{loop.index}}-address-street tenant-{{loop.index}}-address-town tenant-{{loop.index}}-address-region tenant-{{loop.index}}-postcode-search tenant-{{loop.index}}-postcode-results tenant-{{loop.index}}-postcode tenant-{{loop.index}}-name tenant-{{loop.index}}-email tenant-{{loop.index}}-telephone tenant-{{loop.index}}-building-street">
                    <th>Tenant {{loop.index}}</th>
                    <td>
                        <dl class="summary-list">
                            <dt class="summary-list__label">Name</dt>
                            <dd>
                                {{tenant.name | notspecified | safe }}
                            </dd>

                            <dt class="summary-list__label">Address</dt>
                            <dd>
                                <div class="hide-if-empty">{{tenant.address.building}}</div>
                                <div class="hide-if-empty">{{tenant.address.street}}</div>
                                <div class="hide-if-empty">{{tenant.address.town}}</div>
                                <div class="hide-if-empty">{{tenant.address.region}}</div>
                                <div class="hide-if-empty">{{tenant.address.postcode}}</div>
                            </dd>

                            <dt class="summary-list__label">Email</dt>
                            <dd>
                                {{tenant.email | notspecified | safe }}
                            </dd>

                            <dt class="summary-list__label">Telephone</dt>
                            <dd>
                                {{tenant.telephone | notspecified | safe }}
                            </dd>


                        </dl>
                    </td>
                    <td class="summary-table__edit"><a class="edit" href="#!/tenants/tenant-{{loop.index}}/">edit</a></td>
                </tr>
                {% endfor %}

                <tr data-summary-field="tenant-agent--query tenant-agent-postcode-search tenant-agent-postcode-results tenant-agent-address-building tenant-agent-address-street tenant-agent-address-town tenant-agent-address-region tenant-agent-postcode tenant-agent-name tenant-agent-email tenant-agent-telephone">
                    <th>Tenant agent</th>

                    <td>
                        {% if hasTenantAgent == 'yes' %}
                        <dl class="summary-list">
                            <dt class="summary-list__label">Name</dt>
                            <dd>
                                {{tenantAgent.name | notspecified | safe }}
                            </dd>

                            <dt class="summary-list__label">Address</dt>
                            <dd>
                                <div class="hide-if-empty">{{tenantAgent.address.building}}</div>
                                <div class="hide-if-empty">{{tenantAgent.address.street}}</div>
                                <div class="hide-if-empty">{{tenantAgent.address.town}}</div>
                                <div class="hide-if-empty">{{tenantAgent.address.region}}</div>
                                <div class="hide-if-empty">{{tenantAgent.address.postcode}}</div>
                            </dd>

                            <dt class="summary-list__label">Email</dt>
                            <dd>
                                {{email | notspecified | safe }}
                            </dd>

                            <dt class="summary-list__label">Telephone</dt>
                            <dd>
                                {{telephone | notspecified | safe }}
                            </dd>
                        </dl>
                        {% endif %}
                        {% if hasTenantAgent == 'no' %}
                            None
                        {% endif %}
                    </td>
                    <td class="summary-table__edit"><a class="edit" href="#!/tenants/tenants-agent/">edit</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-property" aria-labelledby="panel-property-property" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-property-heading" class="ds_accordion-item__title">
                Property
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-property"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-property">
             <table class="ds_table  summary-table">
                <tbody>
                    <tr data-summary-field="property-building building-other property-building-link">
                        <th>Type of home</th>
                        <td>
                            {% if propertyType %}
                                {{propertyType_text}}

                                {% if propertyType == 'OTHER' %}
                                    {% if buildingOther %}
                                        ({{buildingOther}})
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                Not specified
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/type/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="rooms-table-name-new">
                        <th>Rooms</th>
                        <td>
                            <ul class="no-bullets">
                            {% for room in rooms %}
                                <li>{{room.name}} ({{room.quantity}})</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/rooms/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="shared-areas-details shared-areas-query">
                        <th>Shared areas</th>

                        <td>
                            {% if sharedAreasQuery == 'yes' %}
                                {{sharedAreas | notspecified | safe }}
                            {% else %}
                                {% if sharedAreasQuery == 'no' %}
                                    No shared areas
                                {% else %}
                                    Not specified
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/shared-areas/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="included-details included-query">
                        <th>Outside space</th>
                        <td>
                            {% if includedQuery == 'yes' %}
                                {{included | notspecified | safe }}
                            {% else %}
                                {% if includedQuery == 'no' %}
                                    No outside space
                                {% else %}
                                    Not specified
                                {% endif %}
                            {% endif %}
                        </td>

                        <td class="summary-table__edit"><a href="#!/about-the-home/outside-space/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="property-heating heating-query">
                        <th>Heating</th>
                        <td>
                            {% if heating %}
                                {{heating_text}}
                            {% else %}
                                Not specified
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/heating/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="property-double-glazing glazing-query">
                        <th>Double glazing</th>
                        <td>
                            {% if doubleGlazing %}
                                {{doubleGlazing_text}}
                            {% else %}
                                Not specified
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/double-glazing" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="services-details services-cost-details services-query">
                        <th>Services</th>
                        <td>
                            {% if servicesQuery == 'yes' %}
                            <dl>
                                <dt>Services included in rent</dt>
                                <dd>{{servicesDetails | notspecified | safe }}</dd>

                                <dt>How much is charged for services</dt>
                                <dd>{{servicesCostDetails | notspecified | safe }}</dd>
                            </dl>
                            {% else %}
                                {% if servicesQuery == 'no' %}
                                    No services included in rent
                                {% else %}
                                    Not specified
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/services/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="furnished-query">
                        <th>Furniture</th>
                        <td>

                            {% if furnished == 'no' %}
                                Unfurnished
                            {% else %}
                                {% if furnished == 'yes' %}
                                    Furnished
                                {% else %}
                                    Not specified
                                {% endif %}
                            {% endif %}

                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/furniture/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="landlord-improvements-details tenant-improvements-details tenant-improvements-query landlord-improvements-query">
                        <th>Improvements</th>
                        <td>
                            <dl>
                                <dt>Improvements by tenant</dt>
                                <dd>
                                    {% if tenantImprovementsQuery == 'yes' %}
                                        {{improvementsTenant | notspecified | safe }}
                                    {% else %}
                                        {% if tenantImprovementsQuery == 'no' %}
                                            None
                                        {% else %}
                                            Not specified
                                        {% endif %}
                                    {% endif %}
                                </dd>

                                <dt>Improvements by landlord</dt>
                                <dd>
                                    {% if landlordImprovementsQuery == 'yes' %}
                                        {{improvementsLandlord | notspecified | safe }}
                                    {% else %}
                                        {% if landlordImprovementsQuery == 'no' %}
                                            None
                                        {% else %}
                                            Not specified
                                        {% endif %}
                                    {% endif %}
                                </dd>
                            </dt>
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/improvements/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="damages-details damages-query">
                        <th>Damage</th>
                        <td>
                            {% if damagesQuery == 'yes' %}
                                {{damage | notspecified | safe }}
                            {% else %}
                                {% if damagesQuery == 'no' %}
                                    None
                                {% else %}
                                    Not specified
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/damage/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-rent" aria-labelledby="panel-property-rent" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-rent-heading" class="ds_accordion-item__title">
                Rent
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-rent"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-rent">
             <table class="ds_table  summary-table">
                <tbody>
                    <tr data-summary-field="current-rent-amount current-payment-frequency">
                        <th>Current rent</th>
                        <td>
                            {{currentRentAmount | currency | notspecified | safe}}
                            {{currentRentFrequency_text}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/rent/current-rent/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="new-rent-amount new-payment-frequency">
                        <th>New rent</th>
                        <td>
                            {{newRentAmount | currency | notspecified | safe}}
                            {{newRentFrequency_text}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/rent/new-rent/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-landlords" aria-labelledby="panel-property-landlords" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-landlords-heading" class="ds_accordion-item__title">
                Landlords
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-landlords"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-landlords">
             <table class="ds_table  summary-table">
                <tbody>
                    {% if hasLandlords %}
                    {% else %}
                        <tr data-summary-field="landlord-1-name">
                            <th>Landlords</th>
                            <td></td>
                            <td class="summary-table__edit"><a href="#!/landlords/landlord-1/" class="edit">edit</a></td>
                        </tr>
                    {% endif %}

                    {% for key, landlord in landlords %}
                    <tr data-summary-field="landlord-{{loop.index}}-address-building landlord-{{loop.index}}-address-street landlord-{{loop.index}}-address-town landlord-{{loop.index}}-address-region landlord-{{loop.index}}-postcode landlord-{{loop.index}}-postcode-search landlord-{{loop.index}}-postcode-results landlord-{{loop.index}}-name landlord-{{loop.index}}-email landlord-{{loop.index}}-telephone landlord-{{loop.index}}-building-street">
                        <th>Landlord {{loop.index}}</th>
                        <td>
                            <dl class="summary-list">
                                <dt class="summary-list__label">Name</dt>
                                <dd>
                                    {{landlord.name | notspecified | safe }}
                                </dd>

                                <dt class="summary-list__label">Address</dt>
                                <dd>
                                    <div class="hide-if-empty">{{landlord.address.building}}</div>
                                    <div class="hide-if-empty">{{landlord.address.street}}</div>
                                    <div class="hide-if-empty">{{landlord.address.town}}</div>
                                    <div class="hide-if-empty">{{landlord.address.region}}</div>
                                    <div class="hide-if-empty">{{landlord.address.postcode}}</div>
                                </dd>

                                <dt class="summary-list__label">Email</dt>
                                <dd>
                                    {{landlord.email | notspecified | safe }}
                                </dd>

                                <dt class="summary-list__label">Telephone</dt>
                                <dd>
                                    {{landlord.telephone | notspecified | safe }}</a>
                                </dd>
                            </dl>
                        </td>
                        <td class="summary-table__edit"><a href="#!/landlords/landlord-{{loop.index}}/" class="edit">edit</td>
                    </tr>
                    {% endfor %}

                    <tr data-summary-field="letting-agent--query letting-agent-address-building letting-agent-address-street letting-agent-address-town letting-agent-address-region letting-agent-postcode letting-agent-postcode-search letting-agent-postcode-results letting-agent-name letting-agent-email letting-agent-telephone">
                        <th>Letting agent</th>

                        {% if hasLettingAgent == 'yes' %}
                        <td>
                            <dl class="summary-list">
                                <dt class="summary-list__label">Name</dt>
                                <dd>
                                    {{lettingAgent.name | notspecified | safe }}
                                </dd>

                                <dt class="summary-list__label">Address</dt>
                                <dd>
                                    <div class="hide-if-empty">{{lettingAgent.address.building}}</div>
                                    <div class="hide-if-empty">{{lettingAgent.address.street}}</div>
                                    <div class="hide-if-empty">{{lettingAgent.address.town}}</div>
                                    <div class="hide-if-empty">{{lettingAgent.address.region}}</div>
                                    <div class="hide-if-empty">{{lettingAgent.address.postcode}}</div>
                                </dd>

                                <dt class="summary-list__label">Email</dt>
                                <dd>
                                    {{lettingAgent.email | notspecified | safe }}
                                </dd>

                                <dt class="summary-list__label">Telephone</dt>
                                <dd>
                                    {{lettingAgent.telephone | notspecified | safe }}
                                </dd>
                            </dl>
                        </td>
                        {% endif %}
                        {% if hasLettingAgent == 'no' %}
                        <td>None</td>
                        {% endif %}
                        {% if hasLettingAgent == null %}
                        <td></td>
                        {% endif %}
                        <td class="summary-table__edit"><a class="edit" href="#!/landlords/letting-agent/">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-visit" aria-labelledby="panel-property-visit" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-visit-heading" class="ds_accordion-item__title">
                Visit
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-visit"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-visit">
             <table class="ds_table  summary-table">
                <tbody>
                    <tr data-summary-field="property-inspection-dates">
                        <th>Unavailable dates</th>
                        <td>
                            {{notAvailableForInspection | notspecified | safe}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/property-visit/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
