{% from "../macros.njk" import postcodeLookup %}

<form id="ra-form" autocomplete="false">

    <section id="overview" data-step="overview" class="form-section  fully-hidden">
        <h2>If you think your rent increase is too high</h2>
    </section>

    <section data-step="address" class="form-section  fully-hidden">
        <h2>Property address</h2>

        <p>Search for or enter the rental property's address.</p>

        {{ postcodeLookup('rpz', required=true, noRPZAllowed=true, note=true) }}
    </section>

    <section data-step="tenants" class="form-section  fully-hidden">
        <div class="repeating-container  js-tenants-container">
        </div>

        <section data-step="tenants-agent" class="form-section  fully-hidden">
            <h2>Tenant's Agent</h2>

            <p>A tenant can ask someone, such as a friend, to deal with RSS on their behalf.</p>
            <div class="ds_question">
                <fieldset id="tenant-agent-query" data-validation="requiredRadio">
                    <legend>Have you agreed this?</legend>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input id="tenant-agent-yes" value="yes" name="tenant-agent-query" class="ds_radio__input" type="radio"  />
                            <label for="tenant-agent-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <p>When someone acts on the tenant's behalf, they're known as the tenant's 'agent'.</p>

                                <p>Give the agent's full contact details:</p>

                                <div class="ds_question">
                                    <label class="ds_label" for="tenant-agent-name">Full name</label>
                                    <input type="text" id="tenant-agent-name" data-validation="requiredField" class="ds_input">
                                </div>

                                <div class="ds_question">
                                    <label class="ds_label" for="tenant-agent-email">Email</label>
                                    <input data-validation="validEmail" type="text" id="tenant-agent-email" class="ds_input">
                                </div>

                                <div class="ds_question">
                                    <label class="ds_label" for="tenant-agent-phone">Phone number</label>
                                    <input data-validation="validPhone" type="text" id="tenant-agent-phone" class="ds_input  ds_input--fixed-20">
                                </div>

                                <h3 class="beta">Address</h3>
                                {{ postcodeLookup('tenant-agent', required=true) }}
                            </div>
                        </div>

                        <div class="ds_radio">
                            <input id="tenant-agent-no" value="no" name="tenant-agent-query" class="ds_radio__input" type="radio"  />
                            <label for="tenant-agent-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </section>

    <section data-step="about-the-home" class="form-section  fully-hidden">
        <section data-step="type">
            <h2>Type of home</h2>
            <div class="ds_question" id="property-building">
                <fieldset aria-required="true" id="property-building-link" data-validation="requiredRadio">
                    <legend>What type of home is being rented? (required)
                    </legend>
                    <div class="ds_field-group ">
                        <div class="ds_radio">
                            <input value="FLAT" id="building-flat" name="property-building" class="ds_radio__input" type="radio" />
                            <label for="building-flat" class="ds_radio__label">Flat</label>
                        </div>
                        <div class="ds_radio">
                            <input value="BUNGALOW" id="building-bungalow" name="property-building" class="ds_radio__input" type="radio" />
                            <label for="building-bungalow" class="ds_radio__label">Bungalow</label>
                        </div>
                        <div class="ds_radio">
                            <input value="COTTAGE" id="building-cottage" name="property-building" class="ds_radio__input" type="radio" />
                            <label for="building-cottage" class="ds_radio__label">Cottage</label>
                        </div>
                        <div class="ds_radio">
                            <input value="TERRACED" id="building-terraced" name="property-building" class="ds_radio__input" type="radio" />
                            <label for="building-terraced" class="ds_radio__label">Terraced house</label>
                        </div>
                        <div class="ds_radio">
                            <input value="SEMI" id="building-semi" name="property-building" class="ds_radio__input" type="radio" />
                            <label for="building-semi" class="ds_radio__label">Semi-detached house</label>
                        </div>
                        <div class="ds_radio">
                            <input value="DETACHED" id="building-detached" name="property-building" class="ds_radio__input" type="radio" />
                            <label for="building-detached" class="ds_radio__label">Detached house</label>
                        </div>
                        <div class="ds_radio">
                            <input value="OTHER" id="building-other-query" name="property-building" class="ds_radio__input" type="radio" />
                            <label for="building-other-query" class="ds_radio__label">Other</label>                            <div class="ds_reveal-content">
                                <label class="ds_label" for="building-other">Building type description</label><br />
                                <input type="text" id="building-other" class="ds_input">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <section data-step="rooms">
            <h2>Rooms</h2>

            <p>You need to tell us how many of each type of room the home has.</p>

            <p>Enter the number of:</p>

            <div id="rooms-table"></div>
        </section>

        <section data-step="shared-areas">
            <h2>Shared areas</h2>
            <div class="ds_question">
                <fieldset id="shared-areas-query" aria-required="true" data-validation="requiredRadio">
                    <legend><span class="form--required">Do you share any part of the home, or an area outside, with other tenants? (required)
                    </legend>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input id="shared-areas-yes" value="yes" name="shared-areas-query" class="ds_radio__input" type="radio"  />
                            <label for="shared-areas-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <div class="ds_question">
                                    <label class="ds_label" for="shared-areas-details">Tell us what part(s) of your home is shared (required)</label>
                                    <textarea id="shared-areas-details" class="ds_input" rows="4" data-validation="requiredField" aria-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="ds_radio">
                            <input id="shared-areas-no" value="no" name="shared-areas-query" class="ds_radio__input" type="radio"  />
                            <label for="shared-areas-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <section data-step="outside-space">
            <h2>Outside space</h2>
            <div class="ds_question">
                <fieldset id="included-query" aria-required="true" data-validation="requiredRadio">
                    <legend>Does the tenancy agreement with your landlord include the use of any outside space, such as a parking space, garden, other building or land? (required)
                    </legend>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input id="included-yes" value="yes" name="included-query" class="ds_radio__input" type="radio"  />
                            <label for="included-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <div class="ds_question">
                                    <label class="ds_label" for="included-details">Tell us what the outside space is (required)</label>
                                    <textarea id="included-details" class="ds_input" rows="4" data-validation="requiredField" aria-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="ds_radio">
                            <input id="included-no" value="no" name="included-query" class="ds_radio__input" type="radio"  />
                            <label for="included-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <section data-step="heating">
            <h2>Heating</h2>
            <div class="ds_question">
                <fieldset id="heating-query" aria-required="true" data-validation="requiredRadio">
                    <legend>What type of heating does the home have? (required)</legend>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input class="ds_radio__input" value="None" id="heating-none" name="heating-query" type="radio" />
                            <label class="ds_radio__label" for="heating-none">None</label>
                        </div>
                        <div class="ds_radio">
                            <input class="ds_radio__input" value="Part central heating" id="heating-part" name="heating-query" type="radio"/>
                            <label class="ds_radio__label" for="heating-part">Part central heating</label>
                        </div>
                        <div class="ds_radio">
                            <input class="ds_radio__input" value="Full central heating" id="heating-full" name="heating-query" type="radio"/>
                            <label class="ds_radio__label" for="heating-full">Full central heating</label>
                        </div>
                        <div class="ds_radio">
                            <input class="ds_radio__input" value="Electric heating" id="heating-electric" name="heating-query" type="radio"/>
                            <label class="ds_radio__label" for="heating-electric">Electric heating</label>
                        </div>
                        <div class="ds_radio">
                            <input class="ds_radio__input" value="Storage heaters" id="heating-storage" name="heating-query" type="radio"/>
                            <label class="ds_radio__label" for="heating-storage">Storage heaters</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <section data-step="glazing">
            <h2>Glazing</h2>
            <div class="ds_question">
                <fieldset id="glazing-query" aria-required="true" data-validation="requiredRadio">

                    <legend>What type of glazing does the home have? (required)</legend>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input value="None" id="glazing-none" name="glazing-query" class="ds_radio__input" type="radio" />
                            <label for="glazing-none" class="ds_radio__label">No double glazing</label>
                        </div>
                        <div class="ds_radio">
                            <input value="Full double glazing" id="glazing-full" name="glazing-query" class="ds_radio__input" type="radio"/>
                            <label for="glazing-full" class="ds_radio__label">Full double glazing</label>
                        </div>
                        <div class="ds_radio">
                            <input value="Partial double glazing" id="glazing-partial" name="glazing-query" class="ds_radio__input" type="radio"/>
                            <label for="glazing-partial" class="ds_radio__label">Some double glazing</label>
                        </div>
                        <div class="ds_radio">
                            <input value="Secondary glazing" id="glazing-secondary" name="glazing-query" class="ds_radio__input" type="radio"/>
                            <label for="glazing-secondary" class="ds_radio__label">Secondary glazing - this means a second pane of glass and a second window frame has been added to the windows</label>
                        </div>
                        <div class="ds_radio">
                            <input value="Triple glazing" id="glazing-triple" name="glazing-query" class="ds_radio__input" type="radio"/>
                            <label for="glazing-triple" class="ds_radio__label">Triple glazing</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <section data-step="services">
            <h2>Services</h2>
            <div class="ds_question">
                <fieldset id="services-query" aria-required="true" data-validation="requiredRadio">
                    <legend>Do you pay your landlord for a service as part of your rent? (required)
                    </legend>
                    <p>A service can include things like:</p>
                    <ul>
                        <li>a cleaning charge</li>
                        <li>a fee for the upkeep of a shared area</li>
                    </ul>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input id="services-yes" value="yes" name="services-query" class="ds_radio__input" type="radio"  />
                            <label for="services-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <div class="ds_question">
                                    <label class="ds_label" for="services-details">What is the service? (required)</label>
                                    <textarea id="services-details" class="ds_input" rows="4" data-validation="requiredField" aria-required="true"></textarea>
                                </div>

                                <div class="ds_question">
                                    <label class="ds_label" for="services-cost-details">Tell us how much your landlord charges for this service. (required)</label>

                                    <p>If your landlord hasn't given you a list telling you what you're charged, please let us know.</p>

                                    <textarea id="services-cost-details" class="ds_input" rows="4" data-validation="requiredField" aria-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="ds_radio">
                            <input id="services-no" value="no" name="services-query" class="ds_radio__input" type="radio"  />
                            <label for="services-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <section data-step="furniture">
            <h2>Furniture</h2>
            <div class="ds_question">
                <fieldset id="furnished-query" aria-required="true" data-validation="requiredRadio">
                    <legend>Are you charged for things in the home, such as white goods or furniture, as part of the rent? (required)
                    </legend>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input id="furnished-yes" value="yes" name="furnished-query" class="ds_radio__input" type="radio" />
                            <label for="furnished-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <p>Your landlord should have given you a list of the things they charge for. This list can be in your tenancy agreement or can be a separate page, sometimes called an 'inventory'.</p>

                                <p>If you have it, you'll need to give this list to Rent Service Scotland.</p>

                                <div class="ds_checkbox">
                                    <input id="has-inventory" class="ds_checkbox__input" type="checkbox" />
                                    <label for="has-inventory" class="ds_checkbox__label">I do not have this list</label>
                                </div>
                            </div>
                        </div>

                        <div class="ds_radio">
                            <input id="furnished-no" value="no" name="furnished-query" class="ds_radio__input" type="radio" />
                            <label for="furnished-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <section data-step="improvements">
            <h2>Improvements</h2>
            <div class="ds_question">
                <fieldset id="tenant-improvements-query" aria-required="true" data-validation="requiredRadio">
                    <legend>Have you, or a joint tenant, made any changes to the home?  (required)</legend>

                    <p>This can include:</p>
                    <ul>
                        <li>if you've added furniture to the home</li>
                        <li>changed any fittings </li>
                    </ul>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input id="tenant-improvements-yes" value="yes" name="tenant-improvements-query" class="ds_radio__input" type="radio"  />
                            <label for="tenant-improvements-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <div class="ds_question">
                                    <label class="ds_label" for="tenant-improvements-details">What have you added or changed? (required)</label>
                                    <textarea id="tenant-improvements-details" class="ds_input" rows="4" data-validation="requiredField" aria-required="true"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="ds_radio">
                            <input id="tenant-improvements-no" value="no" name="tenant-improvements-query" class="ds_radio__input" type="radio"  />
                            <label for="tenant-improvements-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="ds_question">
                <fieldset id="landlord-improvements-query" aria-required="true" data-validation="requiredRadio">
                    <legend>Has the landlord done anything to improve the property since you moved in? (required)</legend>
                    <p>This can include work to make the property more modern.</p>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input id="landlord-improvements-yes" value="yes" name="landlord-improvements-query" class="ds_radio__input" type="radio" />
                            <label for="landlord-improvements-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <div class="ds_question">
                                    <label class="ds_label" for="landlord-improvements-details">What work has your landlord done to improve the property? (required)</label>
                                    <textarea id="landlord-improvements-details" class="ds_input" rows="4" data-validation="requiredField" aria-required="true"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="ds_radio">
                            <input id="landlord-improvements-no" value="no" name="landlord-improvements-query" class="ds_radio__input" type="radio" />
                            <label for="landlord-improvements-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>

        <section data-step="damage">
            <h2>Damage</h2>
            <div class="ds_question">
                <fieldset id="damages-query" aria-required="true" data-validation="requiredRadio">
                    <legend>Have you, or a previous tenant, damaged or caused defects to any of the following? (required)
                        <ul>
                            <li>the house</li>
                            <li>fixtures</li>
                            <li>fittings</li>
                            <li>furniture</li>
                        </ul>
                    </legend>

                    <p>Only include damage or defects caused by not following the terms of your tenancy.</p>

                    <div class="ds_field-group">
                        <div class="ds_radio">
                            <input id="damages-yes" value="yes" name="damages-query" class="ds_radio__input" type="radio"  />
                            <label for="damages-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <div class="ds_question">
                                    <label class="ds_label" for="damages-details">If yes, please give details. (required)</label>
                                    <textarea id="damages-details" class="ds_input" rows="4" data-validation="requiredField" aria-required="true"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="ds_radio">
                            <input id="damages-no" value="no" name="damages-query" class="ds_radio__input" type="radio"  />
                            <label for="damages-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </section>

    <section data-step="rent" class="form-section  fully-hidden">
        <section data-step="current-rent">
            <h2>Current rent</h2>
            <div class="ds_question">
                <label class="ds_label" for="current-rent-amount">How much is each rent payment? (required)</label>
                <div class="ds_currency-wrapper">
                    <input data-validation="requiredField validCurrency" aria-required="true" type="text" id="current-rent-amount" class="ds_input  ds_input--fixed-10" placeholder="e.g. 750.00">
                </div>
            </div>

            <div class="ds_question">
                <label class="ds_label" for="current-payment-frequency">How often do you pay rent? (required)</label>
                <div class="ds_select-wrapper">
                    <select class="ds_select" id="current-payment-frequency" data-validation="requiredDropdown" aria-required="true">
                        <option value="" disabled>Choose frequency:</option>
                        <option value="WEEKLY">Weekly</option>
                        <option value="FORTNIGHTLY">Fortnightly</option>
                        <option value="EVERY_FOUR_WEEKS">Four Weekly</option>
                        <option value="CALENDAR_MONTH" selected>Monthly</option>
                        <option value="QUARTERLY">Quarterly</option>
                        <option value="EVERY_SIX_MONTHS">Every 6 months</option>
                    </select>
                    <span class="ds_select-arrow" aria-hidden="true"></span>
                </div>
            </div>
        </section>

        <section data-step="new-rent">
            <h2>New rent</h2>
            <div class="ds_question">
                <label class="ds_label" for="new-rent-amount">How much does your landlord want to charge for rent after the increase? (required)</label>
                <div class="ds_currency-wrapper">
                    <input data-validation="requiredField validCurrency" aria-required="true" type="text" id="new-rent-amount" class="ds_input  ds_input--fixed-10" placeholder="e.g. 750.00">
                </div>
            </div>

            <div class="ds_question">
                <label class="ds_label" for="new-payment-frequency">How often would you need to pay the new rent charge? (required)</label>
                <div class="ds_select-wrapper">
                    <select class="ds_select" id="new-payment-frequency" data-validation="requiredDropdown" aria-required="true">
                        <option value="" disabled>Choose frequency:</option>
                        <option value="WEEKLY">Weekly</option>
                        <option value="FORTNIGHTLY">Fortnightly</option>
                        <option value="EVERY_FOUR_WEEKS">Four Weekly</option>
                        <option value="CALENDAR_MONTH" selected>Monthly</option>
                        <option value="QUARTERLY">Quarterly</option>
                        <option value="EVERY_SIX_MONTHS">Every 6 months</option>
                    </select>
                    <span class="ds_select-arrow" aria-hidden="true"></span>
                </div>
            </div>
        </section>
    </section>

    <section data-step="landlords" class="form-section  fully-hidden">
        <div class="repeating-container  js-landlords-container"></div>

        <section data-step="letting-agent">
            <h2>Letting agent</h2>

            <div class="ds_question">
                <fieldset id="letting-agent-query" data-validation="requiredRadio">
                    <legend>Does the landlord have an agent working on their behalf?
                    </legend>

                    <div class="ds_form-group">
                        <div class="ds_radio">
                            <input id="letting-agent-yes" value="yes" name="letting-agent-query" class="ds_radio__input" type="radio"  />
                            <label for="letting-agent-yes" class="ds_radio__label">Yes</label>

                            <div class="ds_reveal-content">
                                <div class="form-group">
                                    <p>If an agent (or another person) acts on your Landlord’s behalf please give us all their contact details, including their address.</p>
                                    <label class="ds_label" for="letting-agent-name">Full name (required)</label>
                                    <input data-validation="requiredField" type="text" id="letting-agent-name" class="ds_input  no-validate">
                                </div>

                                <div class="form-group">
                                    <label class="ds_label" for="letting-agent-email">Email</label>
                                    <input data-validation="validEmail" type="text" id="letting-agent-email" class="ds_input  no-validate">
                                </div>

                                <div class="form-group">
                                    <label class="ds_label" for="letting-agent-phone">Phone number</label>
                                    <input data-validation="validPhone" type="text" id="letting-agent-phone" class="ds_input  ds_input--fixed-20  no-validate">
                                </div>

                                <h3 class="beta">Address</h3>
                                {{ postcodeLookup('letting-agent', required=true) }}
                            </div>
                        </div>
                        <div class="ds_radio">
                            <input id="letting-agent-no" value="no" name="letting-agent-query" class="ds_radio__input" type="radio"  />
                            <label for="letting-agent-no" class="ds_radio__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </section>

    <section data-step="property-visit" class="form-section  fully-hidden">
        <h2>Property visit</h2>

        <p>To set the rent for your home, a Rent Officer may need to inspect your home. </p>

        <p>If they do, the visit will take place during normal office hours. These are: Monday - Friday, between 9.30am and 3.30pm. </p>

        <p>Please let us know the dates over the next month when you are <strong>not available</strong> for a visit:</p>

        <div class="ds_question">
            <label for="property-inspection-dates" class="ds_label  visaully-hidden">Dates I am not available</label>
            <textarea id="property-inspection-dates" class="ds_input" rows="4"></textarea>
        </div>
    </section>

    <section data-step="summary" class="form-section  fully-hidden">

        <section data-step="summary" class="fully-hidden form-step">

            <h2>Summary</h2>

            <div id="summary-container"></div>

        </section>

    </section>

    <section data-step="declaration" class="fully-hidden form-step">
        <h2>Declaration</h2>

        <div class="ds_question">
            <fieldset id="declaration-checkbox" data-validation="atLeastOneCheckbox" data-message="You must confirm the declaration to complete this form." class="no-validate">
                <legend class="visually-hidden">Form Declaration</legend>
                <div class="ds_checkbox  ds_checkbox--small">
                    <input class="ds_checkbox__input" id="form-declaration" type="checkbox" />
                    <label class="ds_checkbox__label" for="form-declaration">
                        <p>I apply to a Rent Officer for a determination of the open market rent for the property at <span class="js-declaration-address summary__user-input"></span>.</p>
                        <p>I confirm I have sent Part 3 of the rent increase notice to my Landlord to let them know that I am applying to a Rent Officer.</p>
                        <p>I apply to a Rent Officer for a decision on the amount of additional rent that can be charged as a result of improvements made to the let property.</p>
                    </label>
                </div>
            </fieldset>
        </div>
    </section>

    <section data-step="download" class="form-section  fully-hidden">

        <section data-step="form-download" class="fully-hidden form-step">

            <h2>Apply</h2>

            <p>To apply you'll need to download your finished form.</p>

            <p>You need to complete the following challenge before you can download your application.</p>

            {% if recaptchaEnabled %}
            <div id="recaptcha" class="g-recaptcha"
            data-sitekey="{{ recaptchaSitekey }}"
            data-callback="checkRecaptcha"
            data-expired-callback="expireRecaptcha"></div>
            {% endif %}

            <section class="document-section  ds_block-margins">
                <div data-documenttype="PDF" class="ds_file-download  js-document-container">
                    <div class="ds_file-download__thumbnail">
                        <a {% if recaptchaEnabled %}disabled="true"{% endif %} data-button="document-cover" class="ds_file-download__thumbnail-link  js-download-file" aria-hidden="true" tabindex="-1" href="#">
                            <span class="visually-hidden">Document cover image</span>
                            <img class="ds_file-download__thumbnail-image  ds_file-download__thumbnail-image--generic"
                                src="{{assetsPath}}/images/documents/svg/pdf.svg"
                                loading="lazy"
                                alt="" />
                        </a>
                    </div>

                    <div class="ds_file-download__content">
                        <p class="ds_file-download__title" id="file-title-pdf">Your application - PDF document</p>

                        <div id="file-download-pdf" class="ds_file-download__details">
                            <dl class="ds_metadata  ds_metadata--inline">
                                <div class="ds_metadata__item">
                                    <dt class="ds_metadata__key">File type</dt>
                                    <dd class="ds_metadata__value"><b>PDF document</b></dd>
                                </div>
                            </dl>
                        </div>

                        <div>
                            <a {% if recaptchaEnabled %}disabled="true"{% endif %}  aria-labelledby="file-title-pdf" aria-describedby="file-download-pdf" href="#" class="ds_file-download__button  ds_button  ds_button--small  ds_button--secondary  ds_no-margin  js-download-file">
                                Download
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <p>You should also include:</p>

            <ul>
                <li>the Rent Increase Notice you got from your landlord telling you about your rent increase</li>
                <li class="js-hide-if-no-inventory">a list of furniture you're charged for as part of the rent</li>
                <li>your tenancy agreement</li>
            </ul>

            <p>You can email these, and your form, to: <a href="mailto:rss.dundee@gov.scot">rss.dundee@gov.scot</a>.</p>

            <p>If you can't email, you can post them to:</p>

            <address tranlate="no">Rent Service Scotland<br />
            2nd Floor<br />
            Endeavour House<br />
            1 Greenmarket<br />
            Dundee<br />
            DD1 4QB</address>

            <p>You should also fill in and give your landlord part 3 of your Rent Increase Notice. This tells your landlord you're going to apply to Rent Service Scotland.</p>

            <h2>If anything changes</h2>

            <p>You must inform Rent Service Scotland if any of the answers you've given in this form change.</p>

            <p>You can contact Rent Service Scotland on: 0300 244 7000</p>

        </section>
    </section>
</form>

<form id="ra-document-download" action="/service/housing/rent-adjudication/form" method="POST" enctype="multipart/form-data" class="mta-form-download">
    <input type="hidden" name="data" value="">
    <input type="hidden" name="type" value="">
</form>

<nav id="page-nav" aria-label="Navigation buttons"></nav>

<a id="go-to-summary" href="#!/summary/" class="js-validate-step  back-to-summary-button  ds_button  ds_button--secondary  ds_button--has-icon  fully-hidden">
    Back to summary
    <svg class="ds_icon" aria-hidden="true" role="img"><use href="{{ iconsFile }}#chevron_right"></use></svg>
</a>
