{% if canIncreaseRentNow %}
{% else %}
    <div class="ds_inset-text">
    <div class="ds_inset-text__text">You have increased your tenant's rent in the last 12 months. You can't increase
        a tenant's rent twice within the same 12 months.</div>
    </div>
{% endif %}

<p>
    You must give all tenants at least 3 months' notice of a rent increase.
    {% if isByHand %}
        You must also allow your tenant an additional 2 days to receive this notice by {{deliveryMethod}}.
    {% endif %}
</p>

<p>
    This means you'll not be able to increase your tenant's rent until after {{afterDate}}.
</p>

<div class="date-entry  ds_question">
    <label class="ds_label" for="rent-increase-date">Date of increase</label>
    <div class="ds_hint-text">
        <p>Use DD/MM/YYYY format.</p>
    </div>
    <div id="rent-increase-date-picker" data-module="ds-datepicker" class="ds_datepicker">
    <div class="ds_input__wrapper">
        <input data-mindate="{{earliestDateForNextIncrease}}" class="ds_input  ds_input--fixed-10  js-end-date-input" data-validation="dateRegex afterDate requiredField" type="text" id="rent-increase-date" placeholder="e.g. {{earliestDateForNextIncrease}}" value="{{initialValue}}" />
    </div>
</div>

<div id="date-increase-notification-alert">

</div>
