/*------------------------------------*\
    SITE PAGE LAYOUTS
\*------------------------------------*/

.mg_layout {

}

@include ds_media-query(medium) {
    .mg_layout {
        &--org-hub {
            > .ds_layout {
                &__header {
                    float: left;
                    @include ds_colwidth(8);
                }

                &__partner {
                    float: left;
                    @include ds_colwidth(4);
                }

                &__content {
                    clear: left;
                    @include ds_colwidth(8);
                }
            }
        }

        &--paged-form {
            > .ds_layout {
                &__section-progress {
                    clear: both;
                    @include ds_colwidth(12);
                }

                &__subsection-progress {
                    float: left;
                    @include ds_colwidth(3);
                }

                &__form-content {
                    float: left;
                    @include ds_colwidth(9);
                }

                &__feedback {
                    @include ds_colwidth(9);
                }

                &__sidebar {
                    clear: both;
                    @include ds_colwidth(9);
                }
            }
        }

        &--paged-form--2025 {
            > .ds_layout {
                &__progress {
                    float: left;
                    @include ds_colwidth(3);
                }

                &__form-content {
                    float: left;
                    @include ds_colwidth(9);
                }

                &__feedback {
                    @include ds_colwidth(9);
                }

                &__sidebar {
                    clear: both;
                    @include ds_colwidth(9);
                }
            }
        }
    }
}

@include ds_media-query(large) {
    .mg_layout {
        &--org-hub {
            > .ds_layout {
                &__contact {
                    float: left;
                    @include ds_colwidth(8);
                }

                &__connect {
                    float: left;
                    @include ds_colwidth(4);
                }
            }
        }

        &--paged-form {
            > .ds_layout {
                &__section-progress {
                    clear: both;
                    @include ds_colwidth(10);
                }

                &__subsection-progress {
                    float: left;
                    @include ds_colwidth(3);
                }

                &__form-content {
                    float: left;
                    @include ds_colwidth(7);
                }

                &__feedback {
                    @include ds_colwidth(7);
                }

                &__sidebar {
                    @include ds_colwidth(7);
                }
            }
        }

        &--paged-form--2025 {
            > .ds_layout {
                &__progress {
                    float: left;
                    @include ds_colwidth(3);
                }

                &__form-content {
                    float: left;
                    @include ds_colwidth(7);
                }

                &__feedback {
                    @include ds_colwidth(7);
                }

                &__sidebar {
                    @include ds_colwidth(7);
                }
            }
        }
    }
}

@supports(display: grid) {
    /**
     * GRID KEY
     * c: content
     * f: feedback
     * h: header
     * l: list (e.g. category items, search results)
     * n: navigation (e.g. subpages of a publication or guide)
     * p: partner branding
     * s: sidebar

     * corp org hub key additions
     * o: organisation
     * s: services
     * F: featured
     * A: contact
     * B: connect
     */
    $grid-area-org-organisation:    o;
    $grid-area-org-services:        s;
    $grid-area-org-featured:        F;
    $grid-area-org-contact:         A;
    $grid-area-org-connect:         B;

    /**
     * paged form additions (legacy)
     * S: section nav
     * U: subsection nav
     * F: form contents
     */
    $grid-area-form-section:    S;
    $grid-area-form-subsection: U;
    $grid-area-form-content:    F;

    /**
     * paged form additions
     * P: form progress
     */
    $grid-area-form-progress:   P;

    /**
     * form additions
     * e: error summary container
     */
     $grid-area-error:  e;

    .ds_layout {
        &__organisation {
            grid-area: $grid-area-org-organisation;
        }

        &__services {
            grid-area: $grid-area-org-services;
        }

        &__featured,
        &__org-list {
            grid-area: $grid-area-org-featured;
        }

        &__contact {
            grid-area: $grid-area-org-contact;
        }

        &__connect {
            grid-area: $grid-area-org-connect;
        }

        &__section-progress {
            grid-area: $grid-area-form-section;
        }

        &__subsection-progress {
            grid-area: $grid-area-form-subsection;
        }

        &__progress {
            grid-area: $grid-area-form-progress;
        }

        &__form-content {
            grid-area: $grid-area-form-content;
        }

        .ds_layout__error {
            grid-area: $grid-area-error
        }
    }

    .mg_layout {
        &--paged-form {
            grid-template-areas:
                'h h'
                'S S'
                'U U'
                'F F'
                's s'
                'f f';
        }

        &--paged-form--2025 {
            grid-template-areas:
                'h h'
                'F F'
                'P P'
                's s'
                'f f';
        }

        &--org-hub {
            grid-gap: 32px;
            grid-template-areas:
                'h h'
                'p p'
                'c c'
                's s'
                'F F'
                'o o'
                'A A'
                'B B'
                'f f'
        }

        &--org-list {
            grid-template-areas:
                'h h'
                'c c'
                'F F'
                'f f';
        }
    }

    @include ds_media-query(small) {
        .mg_layout {
            &--paged-form {
                grid-template-areas:
                    'h h h h h h'
                    'S S S S S S'
                    'U U U U U U'
                    'F F F F F F'
                    's s s s s s'
                    'f f f f f f';
            }

            &--paged-form--2025 {
                grid-template-areas:
                    'h h h h h h'
                    'F F F F F F'
                    'P P P P P P'
                    's s s s s s'
                    'f f f f f f';
            }

            &--org-hub {
                grid-template-areas:
                    'h h h h h h'
                    'p p p p p p'
                    'c c c c c c'
                    's s s s s s'
                    'F F F F F F'
                    'o o o o o o'
                    'A A A A A A'
                    'B B B B B B'
                    'f f f f f f';
            }

            &--org-list {
                grid-template-areas:
                    'h h h h h h'
                    'c c c c c c'
                    'F F F F F F'
                    'f f f f f f';
            }
        }
    }

    @include ds_media-query(medium) {
        .mg_layout {
            &--paged-form {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'S S S S S S S S S S S S'
                    'F F F F F F F F F U U U'
                    's s s s s s s s s . . .'
                    'f f f f f f f f f . . .';
            }

            &--paged-form--2025 {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'F F F F F F F F F P P P'
                    's s s s s s s s s . . .'
                    'f f f f f f f f f . . .';
            }

            &--org-hub {
                grid-template-areas:
                    'h h h h h h h h p p p p'
                    'c c c c c c c c p p p p'
                    's s s s s s s s s s s s'
                    'F F F F F F F F F F F F'
                    'o o o o o o o o o o o o'
                    'A A A A A A A A B B B B'
                    'f f f f f f f f . . . .';
            }

            &--org-list {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'c c c c c c c c c c c c'
                    'F F F F F F F F F F F F'
                    'f f f f f f f f f f f f';
            }
        }
    }

    @include ds_media-query(large) {
        .mg_layout {
            &--paged-form {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'S S S S S S S S S S . .'
                    'F F F F F F F U U U . .'
                    's s s s s s s . . . . .'
                    'f f f f f f f . . . . .';
            }

            &--paged-form--2025 {
                grid-template-areas:
                    'h h h h h h h h h h h h'
                    'F F F F F F F P P P . .'
                    's s s s s s s . . . . .'
                    'f f f f f f f . . . . .';
            }

            &--org-list {
                grid-template-areas:
                    'h h h h h h h h . . . .'
                    'c c c c c c c c . . . .'
                    'F F F F F F F F F F F F'
                    'f f f f f f f f . . . .';
            }
        }
    }

    @include ds_media-query(xlarge) {
        .mg_layout {
            &--org-hub {
                grid-template-areas:
                    'h h h h h h h h p p p p'
                    'c c c c c c c c p p p p'
                    's s s s s s s s s s s s'
                    'F F F F F F F F F F F F'
                    'o o o o o o o o o o o o'
                    'A A A A A A A A B B B B'
                    'f f f f f f f f . . . .'
            }
        }
    }
}

.mg_layout--form {
    grid-template-areas: 'e e' 'c c' 's s' 's s';
}

@include ds_media-query(small) {
    .mg_layout--form {
        grid-template-areas:
            'e e e e e e'
            'c c c c c c'
            's s s s s s'
            's s s s s s'
    }
}

@include ds_media-query(medium) {
    .mg_layout--form {
        grid-template-areas:
            'e e e e e e e e . . . .'
            'c c c c c c c c . . . .'
            'c c c c c c c c s s s s'
            'c c c c c c c c s s s s';
        grid-template-rows: auto auto auto 1fr;
    }

    .mg_layout--form .ds_layout__content {
        display: grid;
        grid-template-rows: subgrid;
    }
}

@include ds_media-query(xlarge) {
    .mg_layout--form {
        grid-template-areas:
            'e e e e e e e . . . . .'
            'c c c c c c c . . . . .'
            'c c c c c c c . s s s s'
            'c c c c c c c . s s s s';
    }
}

.ds_cols {
    @include ds_layout();

    &--2 {
        @include ds_media-query(large) {
            > * {
                float: left;
                @include ds_colwidth(6);

                &:nth-child(2n-1) {
                    clear: left;
                }
            }
        }
    }

    &--4 {
        @include ds_media-query(small) {
            > * {
                float: left;
                @include ds_colwidth(6);

                &:nth-child(2n+1) {
                    clear: left;
                }
            }
        }

        @include ds_media-query(large) {
            > * {
                float: left;
                @include ds_colwidth(3);

                &:nth-child(2n+1) {
                    clear: none;
                }

                &:nth-child(4n+1) {
                    clear: left;
                }
            }
        }
    }
}

@supports(display: grid) {
    .ds_cols--2 {
        @include ds_media-query(large) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .ds_cols--4 {
        @include ds_media-query(small) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include ds_media-query(large) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

/// MGS-7728 Category list: grey-background area does not extend all the way to the footer on short pages

.ds_page__middle:has(.category-lower) {
    grid-template-rows: auto;

    &:has(.ds_breadcrumbs) {
        grid-template-rows: auto 1fr;
    }

    > .cms-editable {
        display: contents;
    }

    > .cms-editable > #main-content {
        display: grid;
        grid-template-rows: auto 1fr;
    }
}
