/**
 * SG brand theme uses default design system colours
 */

 // Page block secondary theme background
@use '../../../../../node_modules/@scottish-government-design-system/page-blocks/src/blocks/settings' as pb_settings with (
    $pb_theme__background-secondary: #e5f0f8
);

 /**
 * Use mygov styles
 */
 $iconsfile: "../../../images/icons/icons.stack.svg";
 $pb_theme__background-secondary: pb_settings.$pb_theme__background-secondary;;
 @import "../../mygov/main";