definitions:
  config:
    /hst:hst/hst:configurations/ddat:
      jcr:primaryType: hst:configuration
      hst:inheritsfrom: [../common]
      /hst:abstractpages:
        jcr:primaryType: hst:pages
      /hst:catalog:
        jcr:primaryType: hst:catalog
        /publishing-catalog:
          jcr:primaryType: hst:containeritempackage
          /divider:
            jcr:primaryType: hst:containeritemcomponent
            hst:componentclassname: scot.mygov.publishing.components.DividerComponent
            hst:iconpath: icons/divider.svg
            hst:label: Divider
            hst:template: divider
          /header:
            jcr:primaryType: hst:containeritemcomponent
            hst:componentclassname: scot.mygov.publishing.components.HeaderComponent
            hst:iconpath: icons/header.svg
            hst:label: Header
            hst:template: header
          /imageandtext:
            jcr:primaryType: hst:containeritemcomponent
            hst:componentclassname: scot.mygov.publishing.components.ImageAndTextComponent
            hst:iconpath: icons/imageandtext.svg
            hst:label: Image and text
            hst:template: imageandtext
          /threeimagecards:
            jcr:primaryType: hst:containeritemcomponent
            hst:componentclassname: scot.mygov.publishing.components.ThreeImageCardsComponent
            hst:iconpath: icons/threeimagecards.svg
            hst:label: 3 image cards
            hst:template: threeimagecards
      /hst:components:
        jcr:primaryType: hst:components
      /hst:pages:
        jcr:primaryType: hst:pages
      /hst:prototypepages:
        jcr:primaryType: hst:pages
      /hst:sitemap:
        jcr:primaryType: hst:sitemap
        /root:
          jcr:primaryType: hst:sitemapitem
          hst:componentconfigurationid: hst:pages/homepage
          hst:pagetitle: Home page
          hst:refId: root
          hst:relativecontentpath: ''
      /hst:sitemenus:
        jcr:primaryType: hst:sitemenus
      /hst:templates:
        jcr:primaryType: hst:templates
        /home-main:
          jcr:primaryType: hst:template
          hst:renderpath: webfile:/freemarker/ddat/home-main.ftl
        /top-menu:
          jcr:primaryType: hst:template
          hst:renderpath: webfile:/freemarker/ddat/top-menu.ftl
      /hst:workspace:
        jcr:primaryType: hst:workspace
        jcr:mixinTypes: ['dxphst:mergeable']
        dxphst:treehash: 66C55D2B4655A6AFA2FE628D2DF8E87E
        /hst:channel:
          .meta:residual-child-node-category: content
          jcr:primaryType: hst:channel
          hst:name: DDaT
          hst:type: website
          hst:channelinfoclass: scot.mygov.publishing.channels.WebsiteInfo
          hst:lastmodifiedby: admin
          hst:defaultdevice: default
          hst:devices: []
          hst:lastmodified: 2021-03-08T15:12:18.829Z
        /hst:containers:
          jcr:primaryType: hst:containercomponentfolder
          /homepage:
            jcr:primaryType: hst:containercomponentfolder
            /main:
              .meta:residual-child-node-category: content
              jcr:primaryType: hst:containercomponent
              hippo:identifier: c40fc6e0-083e-456c-81f4-b38f4c20e3ce
              hst:label: Home page main
              hst:xtype: hst.vbox
              hst:lastmodified: 2021-07-16T17:18:38.108+01:00
        /hst:pages:
          .meta:residual-child-node-category: content
          jcr:primaryType: hst:pages
        /hst:sitemap:
          .meta:residual-child-node-category: content
          jcr:primaryType: hst:sitemap
        /hst:sitemenus:
          jcr:primaryType: hst:sitemenus
          /main:
            .meta:residual-child-node-category: content
            jcr:primaryType: hst:sitemenu
