.az-nav {
    list-style: none;
    margin: 0 auto 32px auto;
    max-width: 640px;
    text-align: center;

    @include ds_layout(8px);
    margin-right: auto;

    &__link {
        background-color: $ds_colour__grey--lighter;
        display: inline-block;
        font-size: $large-size;
        height: 40px;
        line-height: 40px;
        width: 40px;

    }

    &__item {
        float: left;
    }
}

@supports (display: grid) {
    .az-nav {
        grid-template-columns: repeat(auto-fit, 40px);
        margin-right: auto;
    }
}

@include ds_media-query(medium) {
    .az-nav {
        &__item {
            float: left;
            @include ds_colwidth(1, 13, 8px);
        }
    }
}





.az-list {
    list-style: none;
    margin-left: 0;

    &__item {
        @include ds_layout;

        &:not(:last-child) {
            border-bottom: 1px solid $ds_colour__border--light;
            margin-bottom: 64px;
            padding-bottom: 31px;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: 3rem;
        line-height: px-to-em(32px, 48px);
        position: relative;
        top: 10px;



        clear: left;
        float: left;
        @include ds_colwidth(2);
    }

    &__sublist {
        list-style: none;

        float: left;
        margin-left: 0;
        @include ds_colwidth(10);
    }
}

@include media-query(medium) {
    .az-list {
        &__title {
            line-height: px-to-em(40px, 57px);
        }
    }
}

@supports (display: grid) {
    .az-list {
        &__item {
            grid-template-columns: 2fr 10fr;
        }
    }
}
