/*------------------------------------*\
    #ORG LIST LINK
\*------------------------------------*/

.org-az {
    align-items: center;
    display: grid;
    font-size: 1rem;
    grid-gap: 0.75rem;
    line-height: 1.5rem;
    @include ds_responsive-margin(4, top);

    @include ds_media-query(medium) {
        grid-template-columns: 1fr 1fr;
    }

    @include ds_media-query(large) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__description {
        @include ds_last-child-no-margin;
    }

    &__link {
        text-align: left;
        padding-right: 3rem;
    }

    &__link-icon {
        margin-top: -0.4375rem;
        position: absolute;
        right: 1.5rem;
        top: 50%;

        @include ds_chevron(right, 0.875rem);
    }
}
