.#{$site-prefix}hero {
    align-items: start;
    margin-top: 48px;

    .ds_feature-header {
        @include ds_responsive-margin(3, bottom);

        &__primary {
            align-content: space-between;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            padding: 0;
        }

        &__title {
            margin-bottom: 32px;
        }

        &__secondary {
            display: none;
            font-size: $small-size;
            line-height: 24px;
        }
    }

    .ds_site-search__form {
        position: relative;
    }

    .ds_site-search .ds_input__wrapper {
        margin-bottom: 0;
    }
}




/* LINKS */
.#{$site-prefix}hero-links {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    min-height: 40px;
    text-align: center;

    /* [1] compensate for 1px border */
    &__link {
        @include ds_blocklink;

        border-bottom: 1px solid currentColor;
        border-top: 1px solid currentColor;
        margin-bottom: 24px;
        min-height: 44px;
        padding: 7px 0; /* [1] */
        text-decoration: none;

        align-items: center;
        display: grid;
        grid-template-columns: auto 40px;

        &:focus {
            border-color: $ds_colour__link--focus__background;
        }

        &::after {
            @include ds_chevron(right, 10px);
            justify-self: center;
            margin-right: -5px;
        }
    }
}




/* A-Z */
.#{$site-prefix}hero-az {
    background-color: $ds_colour__blue--dark;
    font-size: 1em;
    line-height: px-to-em(24px, 14px);
    padding-top: 12px;
    padding-bottom: 12px;

    &:hover:not(:focus):not(:active) {
        background-color: $ds_colour__blue--darker;
    }

    &__text {
        font-weight: 300;

        > .small {
            line-height: 20px;
        }
    }
}

.ds_button--has-icon>.#{$site-prefix}hero-az__icon {
    margin-top: -13px;
    position: absolute;
    right: 29px;
    top: 50%;

    @include ds_chevron(right, 26px);
}

@include ds_media-query(medium) {
    .mg_hero .ds_feature-header__secondary {
        display: block;
    }
}

@include ds_media-query(large) {
    .#{$site-prefix}hero {
        .ds_site-search {
            @include ds_layout();

            &__form {
                @include ds_colwidth(7, 8);
                position: relative;
            }

            .ds_input__wrapper {
                margin-bottom: 0;
            }
        }
    }
}

@supports (display: grid) {
    @include ds_media-query(large) {
        .#{$site-prefix}hero {
            .ds_site-search {
                grid-template-columns: 7fr 1fr;
            }
        }
    }

    @include ds_media-query(xlarge) {
        .#{$site-prefix}hero-az {
            grid-template-columns: 1fr 70px;

            &__text {
                align-items: center;
                display: grid;
                grid-gap: 15px;
                grid-template-columns: auto auto;

                > .large {
                    font-size: 2.25rem;
                    text-align: right;
                }

                > .small {
                    text-align: left;
                }
            }
        }
    }
}
