.sectors {
    margin-bottom: 2rem;
}

.sector {
    &__title {
        @include ds_h3-size;
    }

    &__count {
        display: none;
    }

    &__summary {
        margin-left: 1.5rem;
    }
}

@supports(display: grid) {
    .sectors {
        margin-left: 0;
    }

    .sector {
        @include ds_blocklink('.sector__link');
        @include ds_box-shadow;

        background-color: $ds_colour__background--secondary;
        grid-template-areas: 'count' 'title' 'summary';
        display: grid;
        margin-bottom: 2rem;
        padding: 2rem 1rem 5rem;
        position: relative;
        text-decoration: none;
        transition: color 0.2s, background-color 0.2s;

        &:last-child {
            margin-bottom: 2rem;
        }
    }

    .sector__title {
        grid-area: title;
        padding-bottom: 1rem;
        text-align: center;
    }

    .sector__link:after {
        content: "";
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 1;
    }

    .sector__summary {
        color: $ds_colour__text;
        grid-area: summary;
        margin-left: 0;
        pointer-events: none;
        position: relative;
    }

    .sector__summary::before {
        background: $ds_colour__border;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: -1.25rem;
    }

    .sector__summary::after {
        color: $ds_colour__link;
        left: 50%;
        position: absolute;
        bottom: -56px;
        margin-left: -1em;

        @include ds_chevron(down, 2em);
    }

    .sector:hover {
        .sector__summary::after {
            color: $ds_colour__link--hover;
        }
    }

    .sector:focus-within {
        .sector__summary::before {
            display: none;
        }

        .sector__summary::after {
            color: $ds_colour__link--focus;
        }
    }

    .sector__count {
        grid-area: count;

        display: block;
        font-size: 6rem;
        font-weight: $bold;
        line-height: 1;
        text-align: center;
    }

    @include ds_media-query(medium) {
        .sectors {
            display: grid;
            grid-gap: 0 2rem;
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
        }

        .sector {
            grid-template-rows: 120px 144px auto;

            &__title {
                height: 72px;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
}





.sector-list {
    list-style-type: none;
    margin-bottom: 64px;
    margin-left: 0;


    &__sublist {
        list-style-type: none;
        margin-left: 0;
    }
}

@include ds_media-query(medium) {
    .sector-list {
        &__sublist {
            @include ds_small-size;

            @include ds_layout;
        }

        &__sublist-item {
            border-top: 1px solid $ds_colour__border--light;
            margin-bottom: 0;
            line-height: px-to-em(32px, 16px);
            padding: 8px 0;

            float: left;
            @include ds_colwidth(6);

            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }
}

@include ds_media-query(large) {
    .sector-list__sublist-item {
        &:nth-child(2n+1) {
            clear: none;
        }
        &:nth-child(3n+1) {
            clear: left;
        }
        @include ds_colwidth(4);
    }
}

@include ds_media-query(xlarge) {
    .sector-list__sublist-item {
        &:nth-child(3n+1) {
            clear: none;
        }
        &:nth-child(4n+1) {
            clear: left;
        }
        @include ds_colwidth(3);
    }
}

@supports (display: grid) {
    @include ds_media-query(medium) {
        .sector-list__sublist {
            grid-template-columns: repeat(2, 6fr);
        }
    }

    @include ds_media-query(large) {
        .sector-list__sublist {
            grid-template-columns: repeat(3, 4fr);
        }
    }

    @include ds_media-query(xlarge) {
        .sector-list__sublist {
            grid-template-columns: repeat(4, 3fr)
        }
    }
}
