/*------------------------------------*\
    #POPULAR ITEMS
\*------------------------------------*/

.popular {
    align-items: center;
    background: $ds_colour__blue--dark;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 4px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.popular__link {
    color: white;
    text-decoration: none;
    transition-duration: unset !important;
}

.popular__title {
    font-size: 1rem;
    line-height: px-to-rem(32px);
}

.popular__items {
    font-size: $small-size;
    line-height: 24px;
    list-style-type: none;
}

.popular__item {
    font-weight: $bold;
    margin-bottom: 0;
    margin-left: 16px;
    padding: 8px 0;
    position: relative;
}

.popular__icon {
    @include ds_chevron(right, 8px);

    left: -20px;
    margin-top: 0;
    position: absolute;
    top: 16px;
}

.popular__items,
.popular__title {
    margin: 0;
    padding: 8px 16px;
    width: 100%;
}

.popular__items {
    background: $ds_colour__blue;
}

@include ds_media-query(large) {
    .popular {
        flex-direction: row;
    }

    .popular__title {
        width: 33%;
    }

    .popular__items {
        width: 67%;
        column-count: 2;
        column-gap: 32px;
    }

    .popular__item {
        display: inline-block;
        margin-left: 24px;
        width: calc(100% - 20px);
    }
}
