/*------------------------------------*\
    #POPULAR ITEMS
\*------------------------------------*/
$popular-background-colour: $ds_colour__brand !default;
$popular__items-background-colour: adjustForContrast(darken($popular-background-colour, 12.5%), #ffffff, 4.5) !default;;

.popular {
    align-items: center;
    background: $popular__items-background-colour;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 4px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.popular__link {
    @include ds_link;
    color: #fff;
    text-decoration: none;

    &:hover:not(:focus) {
        color: #fff;
        text-decoration-line: underline;
    }
}

.popular__title {
    font-size: 1rem;
    line-height: 2rem;
}

.popular__items {
    font-size: $small-size;
    line-height: 1.5rem;
    list-style-type: none;
}

.popular__item {
    font-weight: $bold;
    margin-bottom: 0;
    margin-left: 1rem;
    padding: 0.5rem 0;
    position: relative;
}

.popular__icon {
    @include ds_chevron(right, 8px);

    left: -20px;
    margin-top: 0;
    position: absolute;
    top: 16px;
}

.popular__items,
.popular__title {
    margin: 0;
    padding: 0.5rem 1rem;
    width: 100%;
}

.popular__items {
    background: $popular-background-colour;
}

@include ds_media-query(large) {
    .popular {
        flex-direction: row;
    }

    .popular__title {
        width: 33%;
    }

    .popular__items {
        width: 67%;
        column-count: 2;
        column-gap: 2rem;
    }

    .popular__item {
        display: inline-block;
        margin-left: 1.5rem;
        width: calc(100% - 20px);
    }
}
