/*------------------------------------*\
    CMS EDITABLE
\*------------------------------------*/

.cms-editable {
    position: relative;

    a.hst-fab {
        top: 14px;
        right: 15px;
    }
}
