definitions:
  config:
    /collections/hippocollection:domains/collection:
      /readonly:
        hipposys:groups:
          .meta:category: config
          value:
{{#sites}}
            - {{id}}-authors
{{/sites}}
      /editor:
        hipposys:groups:
          .meta:category: config
          value:
{{#sites}}
            - {{id}}-editors
{{/sites}}
      /readwrite:
        hipposys:groups:
          .meta:category: config
          value:
{{#sites}}
            - {{id}}-editors
{{/sites}}
