/*------------------------------------*\
    OVERRIDE DS CONTENTS NAV
    can be removed once updated in the DS
\*------------------------------------*/

.ds_contents-nav {
    &__section-title {
        @include ds_h3-size;

        display: block;
        font-weight: bold;
        margin-bottom: 0;
    }

    &__section-title + &__list {
        margin-top: 1rem;
    }

    &__list {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;

        &--indent {
            @include ds_small-size;
            padding-left: 2rem;
        }
    }

    &__item {
        position: relative;
    }

    &__list--indent &__item::before {
        content: '';
        height: 0.0625rem;
        left: -2rem;
        position: absolute;
        top: 0.75rem;
        width: 1.25rem;
        border-top: 0.0625rem solid currentcolor;
        overflow: hidden;
    }

    // single-level nav e.g. mygov guide nav
    &__title {
        @extend .ds_contents-nav__section-title;
    }

    &__title + &__list {
        @extend .ds_contents-nav__list--indent;
    }

    .ds_current {
        font-weight: bold;
    }
}

.ds_contents-nav__item:not(.ds_contents-nav__list--indent .ds_contents-nav__item) {
    border-bottom: 0.0625rem solid $ds_colour__border;
    margin-bottom: 0;
    @include ds_responsive-padding(3, top);
    @include ds_responsive-padding(3, bottom, $tuning: -1px);

    &:last-child {
        border-bottom-width: 0;
        margin-bottom: 0;
        padding-bottom: 1.5rem;
    }
}




// overrides needed for publishing before this DS update is in a main release
.ds_contents-nav__list:not(.ds_contents-nav__list--indent) {
    padding-left: 0;
}

.ds_contents-nav__title + .ds_contents-nav__list {
    padding-left: 2rem;
}

.ds_contents-nav__item:not(.ds_contents-nav__list--indent .ds_contents-nav__item) {
    &::before {
        content: none;
    }
}
