/*------------------------------------*\
    TRADING NATION LAYOUTS
\*------------------------------------*/

.#{$pl-prefix}layout {
    &--tn-article {
        > .#{$pl-prefix}layout {
            &__header {
                clear: left;
                float: left;
                @include colwidth(10);
            }

            &__content {
                clear: left;
                float: left;
                @include colwidth(8);
            }
        }
    }
}

@supports(display: grid) {
    @include media-query(medium) {
        .#{$pl-prefix}layout {
            &--tn-article {
                grid-template-areas:
                    'h h h h h h h h h h . .'
                    'c c c c c c c c . . . .';
            }
        }
    }
}
