    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-other-residents" aria-labelledby="panel-other-residents-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-other-residents-heading" class="ds_accordion-item__title">
                Notification about other residents
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-other-residents"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-other-residents">
            <p>If a person aged 16 or over (who is not a Joint Tenant) occupies the Let Property with the Tenant as that person’s only or principal home, the Tenant must tell the Landlord in writing that person’s name, and the person’s relationship to the Tenant.</p>

            <p>If that person subsequently leaves the Let Property the Tenant must tell the Landlord.</p>

            <p>The Tenant will take reasonable care to ensure that anyone living with them does not do anything that would be a breach of this Agreement if they were the Tenant. </p>

            {{#if mustIncludeTerms.notificationResidents}}
            	{{{paragraphify mustIncludeTerms.notificationResidents}}}
            {{/if}}

            <a href="#!/must-include-terms/notification-residents/">Edit <span class="hidden">notification about other residents</span></a>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-ending-tenancy" aria-labelledby="panel-ending-tenancy-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-ending-tenancy-heading" class="ds_accordion-item__title">
                Ending the tenancy
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-ending-tenancy"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-ending-tenancy">
            <p>This Tenancy may be ended by:-</p>

            <ul>
                <li>The Tenant giving notice to the Landlord

                    <ul>
                        <li>The Tenant giving the Landlord at least 28 days’ notice in writing to terminate the tenancy, or an earlier date if the Landlord is content to waive the minimum 28 day notice period.  Where the Landlord agrees to waive the notice period, his or her agreement must be in writing.  The tenancy will come to an end on the date specified in the notice or, where appropriate, the earlier date agreed between the Tenant and Landlord.  To end a joint tenancy, all the Joint Tenants must agree to end the tenancy.  One Joint Tenant cannot terminate the joint tenancy on behalf of all Joint Tenants.</li>
                    </ul>

                </li>

                <li>The Landlord giving notice to the Tenant, which is only possible using one of the 18 grounds for eviction set out in schedule 3 of the Act.  This can happen either:-

                    <ul>
                        <li>By the Landlord giving the Tenant a Notice to Leave stating one or more of the eviction grounds, and the Tenant choosing to leave.  In this case, the tenancy will come to an end on the day specified in the Notice to Leave, or the day on which the Tenant actually leaves the Let Property, whichever is the later.</li>

                    or:-

                        <li>By the Landlord giving the Tenant a Notice to Leave stating one or more of the eviction grounds and then, if the Tenant chooses not to leave on the day after the notice period expires, subsequently obtaining an eviction order from the Tribunal on the stated eviction ground(s).  In this case, the tenancy will come to an end on the date specified in the eviction order. </li>
                    </ul>
                </li>
            </ul>

            <p>The Landlord can bring the tenancy to an end only if one of the 18 grounds for eviction apply.  If the Landlord serves a Notice to Leave on the Tenant, he or she must specify which eviction ground(s) is being used, and give the reasons why they believe this eviction ground applies.</p>

            <p>If the Landlord applies to the Tribunal for an eviction order, the Tribunal will ask the Landlord to provide supporting evidence for any eviction ground(s) being used.</p>

            <p>The amount of notice your Landlord must give you will depend on the eviction ground used.  The notice period (during COVID-19 emergency procedures) will either be 6 months, 3 months or 28 days. Details of the amount of notice that your landlord must give you for each ground are detailed below:</p>

            <h4>Grounds that require 6 months’ notice:</h4>
            <ul>
                <li>Your Landlord intends to sell the Let Property </li>
                <li>The Let Property is to be sold by the mortgage lender  </li>
                <li>Your Landlord intends to refurbish the Let Property </li>
                <li>Your Landlord intends to use the Let Property for a non-residential purpose </li>
                <li>The Let Property is required for a religious purpose </li>
                <li>You cease to be - or fail to become - an employee of the Landlord </li>
                <li>You no longer need supported accommodation </li>
                <li>You have breached a term(s) of your tenancy agreement </li>
                <li>You are in rent arrears over three consecutive months </li>
                <li>An Overcrowding Statutory Notice has been served on your Landlord </li>
            </ul>

            <h4>Grounds that require 3 months’ notice:</h4>
            <ul>
                <li>Your Landlord intends to live in the Let Property </li>
                <li>Your Landlord’s family member intends to live in the Let Property </li>
                <li>You have a relevant criminal conviction </li>
                <li>You have engaged in relevant antisocial behaviour </li>
                <li>You have associated in the Let Property with someone who has a relevant criminal conviction or has engaged in relevant antisocial behaviour </li>
                <li>Your Landlord has had their registration refused or revoked </li>
                <li>Your Landlord’s HMO licence has been revoked or renewal has been refused </li>
            </ul>

            <h4>Ground that requires 28 days’ notice:</h4>
            <ul>
                <li>You are no longer occupying the Let Property </li>
            </ul>

            {{#if mustIncludeTerms.endingTheTenancy}}
            	{{{paragraphify mustIncludeTerms.endingTheTenancy}}}
            {{/if}}

            <a href="#!/must-include-terms/ending-the-tenancy/">Edit <span class="hidden">ending the tenancy</span></a>
        </div>
    </div>
</div>
